## Day 1 Exercise : Bank Data

In [3]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_csv('bank-data-duplicate.csv')

In [19]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

In [21]:
data.shape

(45216, 17)

In [22]:
data.duplicated().sum()

5

In [30]:
def ImportData(data):
    import_data = pd.read_csv(data)
    print("Bentuk data sebelum drop duplikasi (# observasi, # kolom) :", import_data.shape)
    import_data = import_data.drop_duplicates()
    print("Bentuk data setelah drop duplikasi (# observasi, # kolom): ", import_data.shape)
    return import_data

In [32]:
correct_data = ImportData('bank-data-duplicate.csv')

Bentuk data sebelum drop duplikasi (# observasi, # kolom) : (45216, 17)
Bentuk data setelah drop duplikasi (# observasi, # kolom):  (45211, 17)

# Data Preprocessing
### Input-output split, train-test split
### preprocessing categorical
### imputation, normalization, drop duplicates

### Input-output split

In [34]:
correct_data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown,no
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown,no
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown,no
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown,no
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown,no

In [39]:
data_output = correct_data['y']

In [42]:
data_output.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [45]:
data_input = correct_data.drop(['y'], axis = 1)

In [46]:
data_input.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown

In [48]:
def SplitInputOutput(data,target):
    data_output = data[target]
    data_input = data.drop([target], axis = 1)
    return data_input, data_output

In [52]:
x, y = SplitInputOutput(correct_data, 'y')

In [56]:
x.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58.0,management,married,tertiary,no,2143.0,yes,no,unknown,NaN,NaN,261.0,1.0,-1.0,0.0,unknown
1,NaN,technician,single,secondary,no,29.0,yes,no,unknown,5.0,may,151.0,1.0,-1.0,0.0,unknown
2,NaN,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5.0,may,76.0,1.0,-1.0,0.0,unknown
3,NaN,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5.0,may,92.0,1.0,-1.0,0.0,unknown
4,33.0,unknown,single,unknown,no,1.0,no,no,NaN,5.0,may,198.0,1.0,-1.0,0.0,unknown

In [58]:
y.head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

### Train Test Split

In [60]:
from sklearn.model_selection import train_test_split

In [66]:
x_train, x_test,y_train, y_test = train_test_split(x,y, test_size = 0.25, random_state = 123)

In [70]:
y_train.head()

26999    no
16168    no
12338    no
6074     no
7385     no
Name: y, dtype: object

### Categorical column preprocessing

In [76]:
x_train.isnull().sum()

age          2637
job          2694
marital      2586
education    2606
default      2679
balance      2553
housing      2666
loan         2625
contact      2731
day          2613
month        2568
duration     2734
campaign     2552
pdays        2662
previous     2646
poutcome     2598
dtype: int64

In [78]:
x_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
26999,32.0,unemployed,single,secondary,no,2706.0,NaN,no,cellular,21.0,nov,462.0,NaN,-1.0,0.0,unknown
16168,37.0,admin.,married,secondary,no,1396.0,yes,no,cellular,NaN,jul,199.0,2.0,-1.0,0.0,unknown
12338,22.0,blue-collar,married,secondary,no,-295.0,yes,no,unknown,26.0,jun,150.0,2.0,-1.0,0.0,unknown
6074,36.0,blue-collar,married,NaN,no,-870.0,yes,no,unknown,26.0,may,102.0,2.0,-1.0,0.0,unknown
7385,NaN,admin.,married,primary,no,429.0,no,no,unknown,29.0,may,60.0,2.0,-1.0,0.0,unknown

### variable categorical : job, education, marital, housing, loan, contact, month, poutcome
### variable numerical : all other

In [80]:
x_train.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [88]:
x_train_numerical = x_train._get_numeric_data()

In [92]:
x_train_numerical.head()

        age  balance   day  duration  campaign  pdays  previous
26999  32.0   2706.0  21.0     462.0       NaN   -1.0       0.0
16168  37.0   1396.0   NaN     199.0       2.0   -1.0       0.0
12338  22.0   -295.0  26.0     150.0       2.0   -1.0       0.0
6074   36.0   -870.0  26.0     102.0       2.0   -1.0       0.0
7385    NaN    429.0  29.0      60.0       2.0   -1.0       0.0

In [97]:
x_train_numerical.isnull().sum()

age         2637
balance     2553
day         2613
duration    2734
campaign    2552
pdays       2662
previous    2646
dtype: int64

In [99]:
x_train_categorical = x_train.drop(x_train_numerical, axis = 1)

In [100]:
x_train_categorical.head()

,job,marital,education,default,housing,loan,contact,month,poutcome
26999,unemployed,single,secondary,no,NaN,no,cellular,nov,unknown
16168,admin.,married,secondary,no,yes,no,cellular,jul,unknown
12338,blue-collar,married,secondary,no,yes,no,unknown,jun,unknown
6074,blue-collar,married,NaN,no,yes,no,unknown,may,unknown
7385,admin.,married,primary,no,no,no,unknown,may,unknown

### Imputer to fill up NaN columns

In [115]:
from sklearn.preprocessing import Imputer

In [116]:
imput = Imputer(missing_values= 'NaN', strategy =  'median')

In [126]:
imput.fit(x_train_numerical)
x_train_numerical_imputed = pd.DataFrame(imput.transform(x_train_numerical))
x_train_numerical_imputed.columns = x_train_numerical.columns
x_train_numerical_imputed.index = x_train_numerical.index

In [130]:
x_train_numerical_imputed.head()

        age  balance   day  duration  campaign  pdays  previous
26999  32.0   2706.0  21.0     462.0       2.0   -1.0       0.0
16168  37.0   1396.0  16.0     199.0       2.0   -1.0       0.0
12338  22.0   -295.0  26.0     150.0       2.0   -1.0       0.0
6074   36.0   -870.0  26.0     102.0       2.0   -1.0       0.0
7385   39.0    429.0  29.0      60.0       2.0   -1.0       0.0

In [134]:
x_train_numerical_imputed.isnull().any()

age         False
balance     False
day         False
duration    False
campaign    False
pdays       False
previous    False
dtype: bool

In [139]:
numerical = x_train_numerical.columns

In [141]:
def NumericalImputation(data, numerical):
    
    data_train_numerical = data[numerical]
    imput.fit(data_train_numerical)

    data_train_numerical_imputed = pd.DataFrame(imput.transform(data_train_numerical))
    data_train_numerical_imputed.columns = data_train_numerical.columns
    data_train_numerical_imputed.index = data_train_numerical.index
    return data_train_numerical_imputed, imput

### Categorical Imputation

In [143]:
x_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
26999,32.0,unemployed,single,secondary,no,2706.0,NaN,no,cellular,21.0,nov,462.0,NaN,-1.0,0.0,unknown
16168,37.0,admin.,married,secondary,no,1396.0,yes,no,cellular,NaN,jul,199.0,2.0,-1.0,0.0,unknown
12338,22.0,blue-collar,married,secondary,no,-295.0,yes,no,unknown,26.0,jun,150.0,2.0,-1.0,0.0,unknown
6074,36.0,blue-collar,married,NaN,no,-870.0,yes,no,unknown,26.0,may,102.0,2.0,-1.0,0.0,unknown
7385,NaN,admin.,married,primary,no,429.0,no,no,unknown,29.0,may,60.0,2.0,-1.0,0.0,unknown

In [150]:
x_train_columns = list(x_train.columns)
x_train_numerical_columns = list(x_train_numerical.columns)
x_train_categorical_columns = list(set(x_train_columns).difference(set(x_train_numerical_columns)))

In [151]:
x_train_categorical_columns

['education',
 'marital',
 'housing',
 'loan',
 'poutcome',
 'contact',
 'default',
 'month',
 'job']

In [153]:
x_train_categorical.head()

,job,marital,education,default,housing,loan,contact,month,poutcome
26999,unemployed,single,secondary,no,NaN,no,cellular,nov,unknown
16168,admin.,married,secondary,no,yes,no,cellular,jul,unknown
12338,blue-collar,married,secondary,no,yes,no,unknown,jun,unknown
6074,blue-collar,married,NaN,no,yes,no,unknown,may,unknown
7385,admin.,married,primary,no,no,no,unknown,may,unknown

In [155]:
x_train_categorical = x_train[x_train_categorical_columns]

In [161]:
x_train_categorical.isnull().sum()

education    2606
marital      2586
housing      2666
loan         2625
poutcome     2598
contact      2731
default      2679
month        2568
job          2694
dtype: int64

In [163]:
x_train_categorical = x_train_categorical.fillna(value='KOSONG')

In [165]:
x_train_categorical.isnull().sum()

education    0
marital      0
housing      0
loan         0
poutcome     0
contact      0
default      0
month        0
job          0
dtype: int64

In [167]:
def CategoricalImputation(data, categorical):
    data_train_categorical = data[categorical]
    data_train_categorical = data_train_categorical.fillna(value='KOSONG')
    return data_train_categorical

In [169]:
x_train_categorical = CategoricalImputation(x_train, x_train_categorical_columns)

In [173]:
x_train_categorical.tail(10)

,education,marital,housing,loan,poutcome,contact,default,month,job
5664,secondary,single,yes,no,unknown,unknown,no,may,services
23166,tertiary,single,yes,KOSONG,unknown,cellular,no,KOSONG,technician
96,secondary,married,no,no,unknown,unknown,no,may,blue-collar
22241,tertiary,married,KOSONG,no,unknown,cellular,yes,aug,management
23766,tertiary,single,no,no,KOSONG,telephone,no,aug,management
7763,secondary,married,yes,no,unknown,unknown,no,may,unemployed
15377,tertiary,married,yes,no,unknown,cellular,no,jul,management
17730,primary,married,no,no,unknown,telephone,no,jul,blue-collar
28030,primary,married,no,no,unknown,KOSONG,no,jan,unemployed
15725,tertiary,single,yes,no,unknown,cellular,no,jul,management

### Preprocessing Categorical

In [175]:
categorical_dummies = pd.get_dummies(x_train_categorical)

In [177]:
categorical_dummies.head()

,education_KOSONG,education_primary,education_secondary,education_tertiary,education_unknown,marital_KOSONG,marital_divorced,marital_married,marital_single,housing_KOSONG,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
26999,0,0,1,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
16168,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12338,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6074,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7385,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
categorical_dummies_columns = categorical_dummies.columns

In [181]:
categorical_dummies_columns

Index(['education_KOSONG', 'education_primary', 'education_secondary',
       'education_tertiary', 'education_unknown', 'marital_KOSONG',
       'marital_divorced', 'marital_married', 'marital_single',
       'housing_KOSONG', 'housing_no', 'housing_yes', 'loan_KOSONG', 'loan_no',
       'loan_yes', 'poutcome_KOSONG', 'poutcome_failure', 'poutcome_other',
       'poutcome_success', 'poutcome_unknown', 'contact_KOSONG',
       'contact_cellular', 'contact_telephone', 'contact_unknown',
       'default_KOSONG', 'default_no', 'default_yes', 'month_KOSONG',
       'month_apr', 'month_aug', 'month_dec', 'month_feb', 'month_jan',
       'month_jul', 'month_jun', 'month_mar', 'month_may', 'month_nov',
       'month_oct', 'month_sep', 'job_KOSONG', 'job_admin.', 'job_blue-collar',
       'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired',
       'job_self-employed', 'job_services', 'job_student', 'job_technician',
       'job_unemployed', 'job_unknown'],
      dtype='object')

### Merge training data (categorical and numerical)

In [187]:
x_train_concat = pd.concat([x_train_numerical_imputed, categorical_dummies], axis=1)

In [188]:
x_train_concat.head()

,age,balance,day,duration,campaign,pdays,previous,education_KOSONG,education_primary,education_secondary,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
26999,32.0,2706.0,21.0,462.0,2.0,-1.0,0.0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
16168,37.0,1396.0,16.0,199.0,2.0,-1.0,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12338,22.0,-295.0,26.0,150.0,2.0,-1.0,0.0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6074,36.0,-870.0,26.0,102.0,2.0,-1.0,0.0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7385,39.0,429.0,29.0,60.0,2.0,-1.0,0.0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [190]:
x_train_concat.isnull().sum()

age                    0
balance                0
day                    0
duration               0
campaign               0
pdays                  0
previous               0
education_KOSONG       0
education_primary      0
education_secondary    0
education_tertiary     0
education_unknown      0
marital_KOSONG         0
marital_divorced       0
marital_married        0
marital_single         0
housing_KOSONG         0
housing_no             0
housing_yes            0
loan_KOSONG            0
loan_no                0
loan_yes               0
poutcome_KOSONG        0
poutcome_failure       0
poutcome_other         0
poutcome_success       0
poutcome_unknown       0
contact_KOSONG         0
contact_cellular       0
contact_telephone      0
contact_unknown        0
default_KOSONG         0
default_no             0
default_yes            0
month_KOSONG           0
month_apr              0
month_aug              0
month_dec              0
month_feb              0
month_jan              0
month_jul              0
month_jun              0
month_mar              0
month_may              0
month_nov              0
month_oct              0
month_sep              0
job_KOSONG             0
job_admin.             0
job_blue-collar        0
job_entrepreneur       0
job_housemaid          0
job_management         0
job_retired            0
job_self-employed      0
job_services           0
job_student            0
job_technician         0
job_unemployed         0
job_unknown            0
dtype: int64

### Data Standardisation

In [192]:
from sklearn.preprocessing import StandardScaler

In [197]:
def standardizer(data):
    data_columns = data.columns
    data_index = data.index
    normalize = StandardScaler()
    normalize.fit(data)
    
    normalize_x = pd.DataFrame(normalize.transform(data))
    normalize_x.columns = data_columns
    normalize_x.index = data_index
    return normalize_x, normalize

In [200]:
x_train_clean, normalize = standardizer(x_train_concat)

In [202]:
x_train_clean.head()

,age,balance,day,duration,campaign,pdays,previous,education_KOSONG,education_primary,education_secondary,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
26999,-0.864245,0.483043,0.648521,0.835143,-0.236496,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,5.998091,-0.074468
16168,-0.374722,0.033225,0.023189,-0.214565,-0.236496,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468
12338,-1.843292,-0.547418,1.273852,-0.410138,-0.236496,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468
6074,-0.472627,-0.744857,1.273852,-0.601720,-0.236496,-0.393192,-0.297327,3.465763,-0.404801,-0.949375,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468
7385,-0.178913,-0.298816,1.649051,-0.769354,-0.236496,-0.393192,-0.297327,-0.288537,2.470352,-0.949375,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468

## Training Machine Learning

In [210]:
y.value_counts(normalize= True)

no     0.883015
yes    0.116985
Name: y, dtype: float64

In [212]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [214]:
knn  = KNeighborsClassifier()
knn.fit(x_train_clean, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [217]:
logreg = LogisticRegression(random_state=123)
logreg.fit(x_train_clean, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=123, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [219]:
rf = RandomForestClassifier()
rf.fit(x_train_clean, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## Predict

In [225]:
predicted_logreg = pd.DataFrame(logreg.predict(x_train_clean))
predicted_logreg.head()

    0
0  no
1  no
2  no
3  no
4  no

In [227]:
predicted_knn = pd.DataFrame(knn.predict(x_train_clean))
predicted_knn.head()

    0
0  no
1  no
2  no
3  no
4  no

In [229]:
predicted_rf = pd.DataFrame(rf.predict(x_train_clean))
predicted_rf.head()

    0
0  no
1  no
2  no
3  no
4  no

## performance check of models

In [231]:
benchmark  = y_train.value_counts(normalize = True)[0]

In [233]:
benchmark

0.88235814557036685

In [235]:
logreg.score(x_train_clean, y_train)

0.89975816916361917

In [238]:
knn.score(x_train_clean, y_train)

0.91005072549250909

In [240]:
rf.score(x_train_clean, y_train)

0.99062168219889113

In [241]:
from sklearn.externals import joblib

In [245]:
joblib.dump(logreg, 'logreg.pkl')
joblib.dump(knn, 'knn.pkl')
joblib.dump(rf, 'rf.pkl')

['rf.pkl']

# Test Prediction

In [256]:
def ExtractTest(numerical_columns, categorical_columns, dummies_columns, data, imput, standardizer):
    numerical_data = data[numerical_columns]
    categorical_data = data[categorical_columns]
    
    numerical_data = pd.DataFrame(imput.transform(numerical_data))
    numerical_data.columns = numerical_columns
    numerical_data.index = data.index
    
    categorical_data = categorical_data.fillna('KOSONG')
    categorical_data.index = data.index
    categorical_data = pd.get_dummies(categorical_data)
    categorical_data.reindex(categorical_data.columns, dummies_columns)
    x_test = pd.concat([numerical_data, categorical_data], axis = 1)
    x_test_transform = pd.DataFrame(standardizer.transform(x_test))
    x_test_transform.columns = x_test.columns
    
    return x_test_transform

In [251]:
def TestPred(x_test, y_test, classifier, compute_score):
    if compute_score == True:
        score = classifier.score(x_test, y_test)
        print('Accuracy: ', score)
        
    test_predict = classifier.predict(x_test)
    
    return test_predict, score

In [259]:
x_test_transform = ExtractTest(numerical_columns=x_train_numerical_columns, 
                                categorical_columns=x_train_categorical_columns, 
                                dummies_columns = categorical_dummies_columns, data=x_test,
                                imput=imput, standardizer= normalize)

In [261]:
x_test_transform.head()

,age,balance,day,duration,campaign,pdays,previous,education_KOSONG,education_primary,education_secondary,...,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown
0,1.485467,-0.243877,1.649051,-0.290399,-0.236496,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,2.349632,-0.166720,-0.074468
1,-0.374722,-0.223274,-1.102408,-0.753389,-0.236496,-0.393192,-0.297327,3.465763,-0.404801,-0.949375,...,-0.176198,-0.16323,2.048179,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468
2,-1.353769,0.231008,-1.227474,-0.621676,-0.571799,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,5.998091,-0.074468
3,0.212706,-0.445780,0.773587,-0.054913,0.434110,-0.393192,-0.297327,-0.288537,-0.404801,-0.949375,...,-0.176198,-0.16323,2.048179,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468
4,1.681276,-0.723568,-0.977342,-0.709484,0.434110,-0.393192,-0.297327,-0.288537,-0.404801,1.053325,...,-0.176198,-0.16323,-0.488239,-0.219382,-0.1819,-0.303331,-0.138036,-0.425599,-0.166720,-0.074468

In [263]:
x_test_transform.shape

(11303, 60)

In [265]:
logreg_test_predict, score = TestPred(x_test_transform, y_test, logreg, compute_score=True)

Accuracy:  0.901353622932

In [267]:
knn_test_predict, score = TestPred(x_test_transform, y_test, knn, compute_score=True)

Accuracy:  0.892152525878