# HR Analytics Case

source: https://www.kaggle.com/ludobenistant/hr-analytics-1

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('data_hr.csv')

In [4]:
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,division,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [5]:
for i in data.columns:
    print(data[i].value_counts(), '\n\n')

0.10    358
0.11    335
0.74    257
0.77    252
0.84    247
0.73    246
0.37    241
0.78    241
0.82    241
0.89    237
0.76    234
0.83    234
0.72    230
0.50    229
0.66    228
0.75    226
0.87    225
0.43    224
0.91    224
0.80    222
0.90    220
0.81    220
0.59    219
0.79    217
0.44    211
0.57    210
0.63    209
0.49    209
0.69    209
0.40    209
       ...
0.42    155
0.48    149
0.36    139
1.00    111
0.46     95
0.24     80
0.16     79
0.15     76
0.19     74
0.14     73
0.17     72
0.20     69
0.21     67
0.18     63
0.22     60
0.31     59
0.13     54
0.23     54
0.32     50
0.34     48
0.47     42
0.30     39
0.29     38
0.35     37
0.33     36
0.25     34
0.28     31
0.27     30
0.12     30
0.26     30
Name: satisfaction_level, Length: 92, dtype: int64


0.55    358
0.50    353
0.54    350
0.51    345
0.57    333
0.49    332
0.87    326
0.53    324
0.56    322
0.85    316
0.90    313
0.52    309
0.89    296
0.84    294
0.48    292
0.91    287
1.00    283
0.97    276
0.86    273
0.93    269
0.92    269
0.83    269
0.77    263
0.94    263
0.98    263
0.74    260
0.99    258
0.95    258
0.59    255
0.81    255
       ...
0.82    237
0.63    236
0.64    235
0.88    235
0.61    234
0.62    233
0.58    225
0.73    223
0.66    222
0.68    222
0.60    221
0.76    216
0.78    214
0.70    213
0.72    211
0.46    211
0.65    201
0.71    196
0.69    193
0.47    173
0.45    115
0.41     59
0.40     57
0.42     56
0.37     55
0.39     52
0.43     50
0.38     50
0.44     44
0.36     22
Name: last_evaluation, Length: 65, dtype: int64


4    4365
3    4055
5    2761
2    2388
6    1174
7     256
Name: number_project, dtype: int64


156    153
135    153
149    148
151    147
160    136
145    134
140    129
143    127
257    126
157    126
155    125
245    124
260    124
158    124
148    123
137    122
153    122
154    121
159    121
139    120
147    118
255    115
141    115
134    114
254    113
224    112
142    112
243    112
152    112
264    111
      ...
291     17
309     16
101     16
294     16
114     15
290     15
292     15
307     14
97      14
115     14
124     13
293     13
298     13
295     12
110     12
118     12
300     11
99      11
122     11
119     10
116     10
120     10
112     10
107     10
302      8
297      7
303      6
288      6
299      6
96       6
Name: average_montly_hours, Length: 215, dtype: int64


3     6443
2     3244
4     2557
5     1473
6      718
10     214
7      188
8      162
Name: time_spend_company, dtype: int64


0    12830
1     2169
Name: Work_accident, dtype: int64


0    11428
1     3571
Name: left, dtype: int64


0    14680
1      319
Name: promotion_last_5years, dtype: int64


sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: division, dtype: int64


low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [6]:
categoric = ['promotion_last_5years', 'division', 'salary', 'Work_accident']
categoric_numeric = ['number_project', 'time_spend_company']
drop = ['left']
numeric = [x for x in data.columns if x not in categoric and x not in drop]

In [7]:
categoric

['promotion_last_5years', 'division', 'salary', 'Work_accident']

In [8]:
categoric.extend(categoric_numeric)

In [9]:
categoric

['promotion_last_5years',
 'division',
 'salary',
 'Work_accident',
 'number_project',
 'time_spend_company']

In [10]:
numeric

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company']

In [11]:
data.duplicated().sum()

3008

## Import Data

In [12]:
def ImportData(data,drop):
    data_input = pd.read_csv(data)
    data_input = data_input.drop(drop, axis=1)
    print("Data shape (rows, columns) : ", data_input.shape)
    print("Amount of duplicated data: ", data_input.duplicated().sum())
    data_input = data_input.drop_duplicates()
    print("Data shape after drop duplicates (rows, columns): ", data_input.shape)
    print(data_input.head())
    return data_input

In [13]:
drop = []
data = ImportData('data_hr.csv', drop)

Data shape (rows, columns) :  (14999, 10)
Amount of duplicated data:  3008
Data shape after drop duplicates (rows, columns):  (11991, 10)
   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years division  \
0                   3              0     1                      0    sales
1                   6              0     1                      0    sales
2                   4              0     1                      0    sales
3                   5              0     1                      0    sales
4                   3              0     1                      0    sales

   salary
0     low
1  medium
2  medium
3     low
4     low

In [14]:
def ExtractInputOutput(data, output):
    y = data[output]
    x = data.drop(output, axis=1)
    print(x.head())
    print(y.head())
    return x,y

In [15]:
x, y = ExtractInputOutput(data, 'left')

   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  promotion_last_5years division  salary
0                   3              0                      0    sales     low
1                   6              0                      0    sales  medium
2                   4              0                      0    sales  medium
3                   5              0                      0    sales     low
4                   3              0                      0    sales     low
0    1
1    1
2    1
3    1
4    1
Name: left, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=123)

In [18]:
x_train.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
promotion_last_5years    0
division                 0
salary                   0
dtype: int64

## Categorical Imput

In [19]:
from sklearn.preprocessing import LabelEncoder, LabelBinarizer

In [20]:
def categoricalDummies(data):
    data = data.fillna("KOSONG")
    dummy_variables = pd.DataFrame([])
    label_encoder = pd.Series([])
    label_binarizer = pd.Series([])
    
    for i in list(data):
        label_en = LabelEncoder()
        label_bin = LabelBinarizer()
        
        encoded = label_en.fit_transform(data[i])
        binary = label_bin.fit_transform(encoded)
        
        if binary.shape[1] == 1:
            dummy = pd.DataFrame(binary, columns = [i], index = data.index)
        else:
            dummy = pd.DataFrame(binary, columns=["{}_{}".format(a, b) for b in sorted(data[i].unique())
                                              for a in [i]], 
                             index = data.index)
        
        dummy_variables = pd.concat([dummy_variables, dummy], axis = 1)
        label_encoder[i] = label_en
        label_binarizer[i] = label_bin
        
    return dummy_variables, label_encoder, label_binarizer, dummy_variables.columns

In [21]:
data_train_dummy,label_encoder, label_binarizer, dummy_columns = categoricalDummies(x_train[categoric])

In [22]:
data_train_dummy.isnull().any()

promotion_last_5years    False
division_IT              False
division_RandD           False
division_accounting      False
division_hr              False
division_management      False
division_marketing       False
division_product_mng     False
division_sales           False
division_support         False
division_technical       False
salary_high              False
salary_low               False
salary_medium            False
Work_accident            False
number_project_2         False
number_project_3         False
number_project_4         False
number_project_5         False
number_project_6         False
number_project_7         False
time_spend_company_2     False
time_spend_company_3     False
time_spend_company_4     False
time_spend_company_5     False
time_spend_company_6     False
time_spend_company_7     False
time_spend_company_8     False
time_spend_company_10    False
dtype: bool

## Numerical Imput

In [23]:
from sklearn.preprocessing import Imputer

In [24]:
def FitImputNum(data, numeric, missing_values, method):
    imput = Imputer(missing_values=missing_values, strategy = method)
    imput.fit(data[numeric])
    return data[numeric], imput

In [25]:
def TransformImputNum(data, imputer):
    data_imput = pd.DataFrame(imputer.transform(data))
    data_imput.columns = data.columns
    data_imput.index = data.index
    print(data_imput.isnull().sum())
    print(data_imput.head())
    return data_imput

In [26]:
x_train_numeric, imput = FitImputNum(x_train, numeric, 'NaN', 'median')

In [27]:
x_train_imput_num = TransformImputNum(x_train_numeric, imput)

satisfaction_level      0
last_evaluation         0
number_project          0
average_montly_hours    0
time_spend_company      0
dtype: int64
       satisfaction_level  last_evaluation  number_project  \
2563                 0.96             0.81             3.0
10060                0.74             1.00             4.0
5423                 0.94             0.70             3.0
9739                 0.85             0.90             5.0
9690                 0.99             0.54             3.0

       average_montly_hours  time_spend_company
2563                  212.0                 3.0
10060                 242.0                 2.0
5423                  176.0                 3.0
9739                  247.0                 2.0
9690                  247.0                 3.0

In [28]:
from sklearn.preprocessing import StandardScaler

In [29]:
def FitStandardize(data):
    standard = StandardScaler()
    standard.fit(data)
    return standard

In [30]:
def TransformStandardize(data, standard):
    data_transform = pd.DataFrame(standard.transform(data))
    data_transform.columns = data.columns
    data_transform.index = data.index
    print(data_transform.head())
    return data_transform

In [31]:
standard = FitStandardize(x_train_imput_num)

In [32]:
x_train_standardize = TransformStandardize(x_train_imput_num, standard)

       satisfaction_level  last_evaluation  number_project  \
2563             1.370170         0.547328       -0.684838
10060            0.460725         1.676649        0.173065
5423             1.287493        -0.106489       -0.684838
9739             0.915447         1.082270        1.030968
9690             1.494185        -1.057496       -0.684838

       average_montly_hours  time_spend_company
2563               0.234502           -0.268382
10060              0.850198           -1.025091
5423              -0.504333           -0.268382
9739               0.952814           -1.025091
9690               0.952814           -0.268382

In [33]:
x_train_concat = pd.concat([x_train_standardize, data_train_dummy], axis=1)

In [34]:
x_train_concat.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,promotion_last_5years,division_IT,division_RandD,division_accounting,division_hr,...,number_project_6,number_project_7,time_spend_company_2,time_spend_company_3,time_spend_company_4,time_spend_company_5,time_spend_company_6,time_spend_company_7,time_spend_company_8,time_spend_company_10
2563,1.370170,0.547328,-0.684838,0.234502,-0.268382,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
10060,0.460725,1.676649,0.173065,0.850198,-1.025091,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
5423,1.287493,-0.106489,-0.684838,-0.504333,-0.268382,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
9739,0.915447,1.082270,1.030968,0.952814,-1.025091,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9690,1.494185,-1.057496,-0.684838,0.952814,-0.268382,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0

In [35]:
x_train_concat.isnull().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
promotion_last_5years    0
division_IT              0
division_RandD           0
division_accounting      0
division_hr              0
division_management      0
division_marketing       0
division_product_mng     0
division_sales           0
division_support         0
division_technical       0
salary_high              0
salary_low               0
salary_medium            0
Work_accident            0
number_project_2         0
number_project_3         0
number_project_4         0
number_project_5         0
number_project_6         0
number_project_7         0
time_spend_company_2     0
time_spend_company_3     0
time_spend_company_4     0
time_spend_company_5     0
time_spend_company_6     0
time_spend_company_7     0
time_spend_company_8     0
time_spend_company_10    0
dtype: int64

## Training Data

In [36]:
from sklearn.svm import SVC
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [37]:
def rbfSVC_fit(x_train, y_train):
    rbfSVC = SVC(kernel = 'rbf')

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001]}

    random_rbfSVC = RandomizedSearchCV(rbfSVC, param_distributions = hyperparam, cv = 5,
                                    n_iter = 5, n_jobs=2, random_state = 123)
    
    random_rbfSVC.fit(x_train, y_train)
    
    print ("Best Accuracy", random_rbfSVC.score(x_train, y_train))
    print ("Best Param", random_rbfSVC.best_params_)
    
    return random_rbfSVC

In [38]:
best_rbfSVC = rbfSVC_fit(x_train_concat, y_train)

Best Accuracy 0.97247706422
Best Param {'C': 10}

In [39]:
RBF_SVC = SVC(kernel='rbf', C = best_rbfSVC.best_params_.get('C'))
RBF_SVC.fit(x_train_concat, y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [40]:
def linearSVC_fit(x_train, y_train):
    linear_SVC = SVC(kernel = 'linear')

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001]}

    random_linear_SVC = RandomizedSearchCV(linear_SVC, param_distributions = hyperparam, cv = 5,
                                    n_iter = 5, n_jobs=2, random_state = 123)
    
    random_linear_SVC.fit(x_train, y_train)
    
    print ("Best Accuracy", random_linear_SVC.score(x_train, y_train))
    print ("Best Param", random_linear_SVC.best_params_)
    
    return random_linear_SVC

In [41]:
best_linear_rbf_SVC = linearSVC_fit(x_train_concat, y_train)

Best Accuracy 0.905025020851
Best Param {'C': 10}

In [67]:
Linear_SVC = SVC(kernel = 'linear', C=best_linear_rbf_SVC.best_params_.get('C'))
Linear_SVC.fit(x_train_concat, y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [43]:
def logreg_fit(x_train, y_train):
    logreg = LogisticRegression()

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001],
                 'penalty': ['l1', 'l2']}

    random_logreg = RandomizedSearchCV(logreg, param_distributions = hyperparam, cv = 5,
                                    n_iter = 15, n_jobs=2, random_state = 123)
    
    random_logreg.fit(x_train, y_train)
    
    print ("Best Accuracy", random_logreg.score(x_train, y_train))
    print ("Best Param", random_logreg.best_params_)
    
    return random_logreg

In [44]:
best_logreg = logreg_fit(x_train_concat, y_train)

Best Accuracy 0.905025020851
Best Param {'penalty': 'l1', 'C': 10}

In [70]:
logreg = LogisticRegression(C=best_logreg.best_params_.get('C'), 
                            penalty=best_logreg.best_params_.get('penalty'))
logreg.fit(x_train_concat, y_train)

LogisticRegression(C=10, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l1', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## Score model predictions

In [46]:
# Categorical
def testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer,dummy_columns):
    data = data[categorical_columns].fillna("KOSONG")
    dummy_variables = pd.DataFrame([])
    
    for i in categorical_columns:
        label_en = label_encoder[i]
        label_bin = label_binarizer[i]
        
        encoded = label_en.transform(data[i])
        binary = label_bin.transform(encoded)
        
        if binary.shape[1] == 1:
            dummy = pd.DataFrame(binary, index = data.index)
        else:
            dummy = pd.DataFrame(binary, index = data.index)
        
        dummy_variables = pd.concat([dummy_variables, dummy], axis = 1)
    dummy_variables.columns = dummy_columns
    return dummy_variables

In [47]:
def validData(numerical_columns, categorical_columns,data, imputer, standard,label_encoder, label_binarizer, dummy_columns):
    
    data_dummy = testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer, dummy_columns)
    data_numeric_imput = TransformImputNum(data[numerical_columns], imputer=imputer)
    data_numeric_std = TransformStandardize(data_numeric_imput, standard)
    data_concat = pd.concat([data_numeric_std, data_dummy], axis=1)
    
    return data_concat

In [48]:
x_test_standardize = validData(numeric, categoric, x_test, imput, standard, label_encoder, label_binarizer, dummy_columns)

satisfaction_level      0
last_evaluation         0
number_project          0
average_montly_hours    0
time_spend_company      0
dtype: int64
      satisfaction_level  last_evaluation  number_project  \
6816                0.74             0.86             5.0
4649                0.19             0.64             6.0
3169                0.72             0.82             5.0
6485                0.63             1.00             5.0
9388                0.51             0.41             2.0

      average_montly_hours  time_spend_company
6816                 153.0                 2.0
4649                 222.0                 5.0
3169                 287.0                 3.0
6485                 241.0                 4.0
9388                 164.0                 4.0
      satisfaction_level  last_evaluation  number_project  \
6816            0.460725         0.844518        1.030968
4649           -1.812885        -0.463116        1.888871
3169            0.378049         0.606766        1.030968
6485            0.006003         1.676649        1.030968
9388           -0.490057        -1.830189       -1.542741

      average_montly_hours  time_spend_company
6816             -0.976367           -1.025091
4649              0.439734            1.245036
3169              1.773741           -0.268382
6485              0.829675            0.488327
9388             -0.750611            0.488327

In [49]:
x_test_concat = x_test_standardize

In [50]:
x_test_concat.shape

(2399, 34)

In [51]:
x_train_concat.shape

(9592, 34)

In [52]:
benchmark = y_train.value_counts(True)[0]
benchmark

0.83309007506255217

In [53]:
RBF_SVC.score(x_train_concat, y_train)

0.97247706422018354

In [54]:
RBF_SVC.score(x_test_concat, y_test)

0.96748645268862021

In [77]:
Linear_SVC.score(x_train_concat, y_train)

0.90502502085070891

In [74]:
Linear_SVC.score(x_test_standardize, y_test)

0.90204251771571486

In [78]:
logreg.score(x_train_concat, y_train)

0.90502502085070891

In [76]:
logreg.score(x_test_standardize, y_test)

0.90204251771571486

## Feature Engineering

In [150]:
x["satisfaction_hour"] = x["satisfaction_level"] * x["average_montly_hours"]
x["dissatisfaction_hour"] = x["average_montly_hours"] - x["satisfaction_hour"]

x["satisfaction_project"] = x["satisfaction_level"] * x["number_project"]
x["dissatisfaction_project"] = x["number_project"] - x["satisfaction_project"]

x["project_hour_average"] = x["average_montly_hours"]/x["number_project"]

In [151]:
x.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,division,salary,satisfaction_hour,dissatisfaction_hour,satisfaction_project,dissatisfaction_project,project_hour_average
0,0.38,0.53,2,157,3,0,0,sales,low,59.66,97.34,0.76,1.24,78.500000
1,0.80,0.86,5,262,6,0,0,sales,medium,209.60,52.40,4.00,1.00,52.400000
2,0.11,0.88,7,272,4,0,0,sales,medium,29.92,242.08,0.77,6.23,38.857143
3,0.72,0.87,5,223,5,0,0,sales,low,160.56,62.44,3.60,1.40,44.600000
4,0.37,0.52,2,159,3,0,0,sales,low,58.83,100.17,0.74,1.26,79.500000

In [152]:
from sklearn.model_selection import train_test_split

In [153]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.4, random_state = 123)

In [154]:
x_train.isnull().sum()

satisfaction_level         0
last_evaluation            0
number_project             0
average_montly_hours       0
time_spend_company         0
Work_accident              0
promotion_last_5years      0
division                   0
salary                     0
satisfaction_hour          0
dissatisfaction_hour       0
satisfaction_project       0
dissatisfaction_project    0
project_hour_average       0
dtype: int64

In [155]:
for i in x_train.columns:
    print(x_train[i].value_counts(), '\n\n')

0.73    134
0.50    129
0.84    128
0.89    125
0.79    121
0.74    119
0.83    119
0.72    118
0.57    115
0.66    114
0.76    114
0.10    113
0.75    112
0.77    112
0.80    111
0.63    111
0.11    111
0.82    110
0.91    110
0.49    109
0.59    108
0.78    106
0.90    106
0.54    105
0.52    103
0.60    103
0.69    103
0.56    102
0.98    102
0.61    101
       ...
1.00     66
0.38     66
0.41     57
0.36     52
0.24     46
0.15     46
0.17     43
0.18     41
0.14     36
0.22     35
0.21     35
0.23     35
0.46     34
0.13     33
0.16     33
0.20     32
0.19     31
0.32     29
0.31     28
0.30     26
0.34     26
0.35     26
0.33     22
0.12     18
0.29     17
0.47     16
0.26     16
0.27     15
0.28     14
0.25     14
Name: satisfaction_level, Length: 92, dtype: int64


0.55    168
0.57    164
0.90    159
0.85    156
0.51    153
0.49    146
0.54    145
0.89    144
0.53    143
0.87    142
0.50    141
0.52    140
0.86    139
0.56    138
0.97    138
0.59    137
0.75    134
0.84    134
0.77    132
0.93    131
0.74    130
0.58    129
0.95    128
0.96    126
0.91    125
0.81    125
1.00    125
0.99    122
0.62    122
0.67    121
       ...
0.92    120
0.48    119
0.66    119
0.61    119
0.80    118
0.94    118
0.79    117
0.68    116
0.65    115
0.88    114
0.70    110
0.72    110
0.82    109
0.60    107
0.73    107
0.71    103
0.78    103
0.69    100
0.47     77
0.46     76
0.45     46
0.41     32
0.37     32
0.42     28
0.39     27
0.43     26
0.40     26
0.44     24
0.38     21
0.36     15
Name: last_evaluation, Length: 65, dtype: int64


4    2188
3    2109
5    1347
2     966
6     504
7      80
Name: number_project, dtype: int64


156    73
160    69
155    64
135    63
157    63
260    63
143    61
149    60
145    59
151    59
257    58
258    58
150    57
148    56
271    56
238    56
147    55
173    55
229    55
243    55
245    55
269    55
266    55
154    54
152    54
264    53
136    53
139    52
142    52
226    52
       ..
305     7
306     7
107     6
310     6
289     6
102     6
304     6
120     6
122     5
288     5
296     5
303     5
119     5
291     5
299     5
307     4
96      4
297     4
302     4
99      4
292     3
300     3
293     3
118     3
294     3
116     3
298     3
309     3
295     2
290     1
Name: average_montly_hours, Length: 215, dtype: int64


3     3151
2     1760
4     1171
5      625
6      320
10      59
7       58
8       50
Name: time_spend_company, dtype: int64


0    6095
1    1099
Name: Work_accident, dtype: int64


0    7079
1     115
Name: promotion_last_5years, dtype: int64


sales          1976
technical      1352
support        1070
IT              586
product_mng     424
marketing       407
RandD           400
accounting      373
hr              353
management      253
Name: division, dtype: int64


low       3461
medium    3131
high       602
Name: salary, dtype: int64


117.60    10
126.72     9
108.00     9
68.64      8
105.00     8
161.28     8
156.00     8
111.00     8
132.30     7
132.60     7
112.20     7
67.51      7
28.60      7
131.20     7
49.53      7
174.72     7
196.56     6
154.38     6
143.64     6
59.20      6
132.00     6
166.50     6
111.60     6
54.72      6
57.20      6
109.20     6
58.05      6
126.00     6
184.50     6
100.80     6
          ..
154.78     1
212.16     1
128.01     1
129.36     1
222.95     1
151.42     1
117.64     1
119.50     1
69.68      1
213.00     1
69.60      1
131.08     1
225.40     1
25.83      1
99.50      1
243.86     1
21.45      1
194.54     1
150.57     1
71.50      1
223.25     1
193.00     1
82.68      1
170.28     1
94.50      1
58.00      1
29.28      1
254.43     1
59.52      1
35.88      1
Name: satisfaction_hour, Length: 4438, dtype: int64


0.00      66
54.00      9
81.20      8
72.00      8
86.80      8
89.76      8
28.80      8
85.50      8
87.36      8
76.80      7
81.60      7
89.49      7
65.28      7
90.00      7
77.47      7
78.00      7
19.04      7
55.44      6
75.90      6
57.20      6
68.60      6
35.28      6
95.16      6
83.79      6
41.76      6
93.24      6
32.40      6
74.00      6
72.80      6
93.00      6
          ..
91.77      1
57.35      1
98.45      1
61.60      1
8.10       1
82.28      1
91.96      1
19.03      1
60.04      1
143.48     1
111.11     1
71.68      1
59.74      1
105.79     1
44.52      1
32.13      1
201.48     1
257.21     1
70.25      1
90.30      1
136.23     1
49.22      1
169.68     1
20.24      1
76.76      1
44.02      1
91.52      1
88.00      1
250.09     1
37.25      1
Name: dissatisfaction_hour, Length: 4431, dtype: int64


0.66    96
2.52    95
3.00    91
2.88    90
2.16    87
0.60    78
2.64    77
2.04    76
0.80    74
1.92    73
0.78    73
0.86    69
0.74    68
0.88    67
2.70    61
1.50    60
0.54    58
0.76    57
0.72    57
0.84    56
3.80    55
2.55    54
2.00    53
3.20    53
2.96    51
2.85    51
3.56    50
0.90    50
1.44    50
2.60    49
        ..
3.66     2
3.06     2
5.70     2
5.10     2
0.32     2
3.18     2
3.72     2
1.78     2
2.30     2
0.27     1
0.26     1
0.44     1
0.57     1
4.13     1
1.70     1
0.42     1
5.52     1
0.42     1
3.48     1
4.14     1
0.58     1
0.38     1
1.40     1
0.40     1
5.76     1
5.88     1
4.26     1
0.46     1
0.20     1
4.98     1
Name: satisfaction_project, Length: 303, dtype: int64


1.08    111
1.12    106
1.14    103
0.96     95
1.20     91
0.84     89
0.48     83
5.34     81
1.32     79
1.00     77
0.90     77
1.56     76
0.12     74
1.16     74
1.05     72
5.40     72
0.80     70
2.00     68
1.26     68
1.50     67
0.00     66
0.36     66
0.45     62
1.22     62
0.60     62
0.15     61
1.44     60
1.20     60
1.04     58
1.48     57
       ...
2.84      2
1.44      2
1.72      2
0.22      2
2.82      2
2.40      2
2.31      2
1.42      1
2.58      1
2.73      1
5.53      1
2.43      1
0.48      1
5.11      1
5.95      1
2.75      1
2.96      1
4.44      1
1.02      1
1.58      1
1.54      1
4.38      1
1.46      1
1.86      1
2.87      1
5.32      1
2.38      1
2.52      1
1.74      1
1.80      1
Name: dissatisfaction_project, Length: 340, dtype: int64


54.000000     59
50.000000     55
65.000000     54
52.000000     53
68.000000     50
48.000000     50
46.000000     48
66.000000     47
56.000000     47
49.000000     47
64.000000     45
64.500000     44
62.000000     40
78.000000     40
67.500000     39
45.000000     39
53.000000     39
51.000000     37
67.000000     37
47.000000     36
63.000000     36
70.000000     35
44.000000     35
55.000000     35
60.000000     35
71.000000     33
79.000000     32
61.000000     32
37.000000     32
68.500000     32
              ..
139.500000     1
43.857143      1
41.714286      1
113.500000     1
32.714286      1
32.833333      1
19.400000      1
143.500000     1
39.571429      1
130.500000     1
35.714286      1
106.000000     1
23.400000      1
115.000000     1
32.166667      1
123.000000     1
25.200000      1
130.000000     1
91.500000      1
21.333333      1
21.400000      1
23.800000      1
27.250000      1
26.666667      1
57.400000      1
22.333333      1
102.333333     1
26.250000      1
25.750000      1
42.428571      1
Name: project_hour_average, Length: 728, dtype: int64

In [156]:
categoric = ['promotion_last_5years', 'division', 'salary', 'Work_accident']
categoric_numeric = ['number_project', 'time_spend_company']
drop = ['left']
numeric = [x for x in x.columns if x not in categoric and x not in drop]

In [157]:
numeric

['satisfaction_level',
 'last_evaluation',
 'number_project',
 'average_montly_hours',
 'time_spend_company',
 'satisfaction_hour',
 'dissatisfaction_hour',
 'satisfaction_project',
 'dissatisfaction_project',
 'project_hour_average']

In [158]:
from sklearn.preprocessing import LabelBinarizer, LabelEncoder

In [159]:
def categoricalDummies(data):
    data = data.fillna("KOSONG")
    dummy_variables = pd.DataFrame([])
    label_encoder = pd.Series([])
    label_binarizer = pd.Series([])
    
    for i in list(data):
        label_en = LabelEncoder()
        label_bin = LabelBinarizer()
        
        encoded = label_en.fit_transform(data[i])
        binary = label_bin.fit_transform(encoded)
        
        if binary.shape[1] == 1:
            dummy = pd.DataFrame(binary, columns = [i], index = data.index)
        else:
            dummy = pd.DataFrame(binary, columns=["{}_{}".format(a, b) for b in sorted(data[i].unique())
                                              for a in [i]], 
                             index = data.index)
        
        dummy_variables = pd.concat([dummy_variables, dummy], axis = 1)
        label_encoder[i] = label_en
        label_binarizer[i] = label_bin
        
    return dummy_variables, label_encoder, label_binarizer, dummy_variables.columns

In [160]:
data_train_dummy,label_encoder, label_binarizer, dummy_columns = categoricalDummies(x_train[categoric])

In [161]:
data_train_dummy.shape

(7194, 15)

In [162]:
def imputCategoric(data, categoric_column):
    data_categoric = data[categoric_column]
    data_cat_imput = data_categoric.fillna("KOSONG")
    jumlah = 0
    for i in data_cat_imput.columns: # Banyaknya kategori di setiap kolom
        data_cat_imput[i] = data_cat_imput[i].astype('category')
        jumlah +=len(data_cat_imput[i].value_counts())
    print(jumlah)
    data_cat_dummy = pd.get_dummies(data_cat_imput) 
    print(len(data_cat_dummy.columns)) # Banyaknya kolom
    return data_cat_dummy

In [163]:
data_train_dummy.isnull().sum()

promotion_last_5years    0
division_IT              0
division_RandD           0
division_accounting      0
division_hr              0
division_management      0
division_marketing       0
division_product_mng     0
division_sales           0
division_support         0
division_technical       0
salary_high              0
salary_low               0
salary_medium            0
Work_accident            0
dtype: int64

## Numerical Imputation

In [164]:
from sklearn.preprocessing import Imputer
def fitImputNum(data,column_numeric, missing_values, method):
    imput = Imputer(missing_values=missing_values, strategy = method)
    imput.fit(data[column_numeric])
    return data[column_numeric], imput

In [165]:
x_train_numeric, imput = fitImputNum(x_train, numeric, 'NaN', 'median')

In [166]:
def transformImput(data, imputer):
    data_numeric = pd.DataFrame(imputer.transform(data))
    data_numeric.columns = data.columns
    data_numeric.index = data.index
    print(data_numeric.isnull().sum())
    print(data_numeric.head())
    return data_numeric

In [167]:
x_train_imput_num = transformImput(x_train_numeric, imputer =imput)

satisfaction_level         0
last_evaluation            0
number_project             0
average_montly_hours       0
time_spend_company         0
satisfaction_hour          0
dissatisfaction_hour       0
satisfaction_project       0
dissatisfaction_project    0
project_hour_average       0
dtype: int64
      satisfaction_level  last_evaluation  number_project  \
9146                0.91             0.71             3.0
8815                0.93             0.84             3.0
3998                0.67             0.82             4.0
4581                0.52             0.91             4.0
1634                0.39             0.48             2.0

      average_montly_hours  time_spend_company  satisfaction_hour  \
9146                 171.0                 2.0             155.61
8815                 159.0                 3.0             147.87
3998                 246.0                 4.0             164.82
4581                 187.0                 2.0              97.24
1634                 127.0                 3.0              49.53

      dissatisfaction_hour  satisfaction_project  dissatisfaction_project  \
9146                 15.39                  2.73                     0.27
8815                 11.13                  2.79                     0.21
3998                 81.18                  2.68                     1.32
4581                 89.76                  2.08                     1.92
1634                 77.47                  0.78                     1.22

      project_hour_average
9146                 57.00
8815                 53.00
3998                 61.50
4581                 46.75
1634                 63.50

In [168]:
from sklearn.preprocessing import StandardScaler
def fitStandardize(data):
    standard = StandardScaler()
    standard.fit(data)
    return standard

In [169]:
def transformStandardize(data, standard):
    data_standard = pd.DataFrame(standard.transform(data))
    data_standard.columns = data.columns
    data_standard.index = data.index
    print(data_standard.head())
    return data_standard

In [170]:
standard = fitStandardize(x_train_imput_num)
x_train_num_standardize = transformStandardize(x_train_imput_num, standard=standard)

      satisfaction_level  last_evaluation  number_project  \
9146            1.164131        -0.049690       -0.685784
8815            1.246584         0.722377       -0.685784
3998            0.174699         0.603598        0.172520
4581           -0.443696         1.138106        0.172520
1634           -0.979639        -1.415654       -1.544089

      average_montly_hours  time_spend_company  satisfaction_hour  \
9146             -0.608224           -1.023948           0.501369
8815             -0.855232           -0.265320           0.371533
3998              0.935577            0.493309           0.655863
4581             -0.278880           -1.023948          -0.477769
1634             -1.513921           -0.265320          -1.278089

      dissatisfaction_hour  satisfaction_project  dissatisfaction_project  \
9146             -1.034591              0.332790                -0.919335
8815             -1.108743              0.384959                -0.966012
3998              0.110587              0.289316                -0.102490
4581              0.259936             -0.232373                 0.364278
1634              0.046009             -1.362701                -0.180285

      project_hour_average
9146              0.006658
8815             -0.199374
3998              0.238445
4581             -0.521301
1634              0.341462

In [171]:
x_train_concat = pd.concat([x_train_num_standardize, data_train_dummy], axis =1)
x_train_standardize = x_train_concat

In [172]:
x_train_standardize.shape

(7194, 25)

## Training Machine Learning

In [173]:
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV

In [174]:
def rbfSVC_fit(x_train, y_train):
    rbfSVC = SVC(kernel = 'rbf')

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001]}

    random_rbfSVC = RandomizedSearchCV(rbfSVC, param_distributions = hyperparam, cv = 5,
                                    n_iter = 5, n_jobs=2, random_state = 123)
    
    random_rbfSVC.fit(x_train, y_train)
    
    print ("Best Accuracy", random_rbfSVC.score(x_train, y_train))
    print ("Best Param", random_rbfSVC.best_params_)
    
    return random_rbfSVC

In [175]:
for i in x_train_concat.columns:
    print(x_train_concat[i].value_counts(), '\n\n')

 0.422057    134
-0.526149    129
 0.875547    128
 1.081679    125
 0.669415    121
 0.463284    119
 0.834321    119
 0.380831    118
-0.237564    115
 0.545736    114
 0.133473    114
-2.175203    113
 0.504510    112
 0.586963    112
 0.710642    111
-2.133976    111
 0.009794    111
 0.793094    110
 1.164131    110
-0.567375    109
-0.155112    108
 1.122905    106
 0.628189    106
-0.361243    105
-0.113885    103
-0.443696    103
 0.257152    103
-0.278791    102
 1.452716    102
-0.072659    101
            ...
 1.535169     66
-1.020865     66
-0.897186     57
-1.103318     52
-1.598034     46
-1.969071     46
-1.886618     43
-1.845392     41
-2.010297     36
-1.721713     35
-1.680487     35
-1.639260     35
-0.691054     34
-2.051524     33
-1.927845     33
-1.762939     32
-1.804166     31
-1.268223     29
-1.309449     28
-1.144544     26
-1.185770     26
-1.350676     26
-1.226997     22
-2.092750     18
-1.391902     17
-0.649828     16
-1.515581     16
-1.474355     15
-1.433129     14
-1.556808     14
Name: satisfaction_level, Length: 92, dtype: int64


-0.999926    168
-0.881146    164
 1.078716    159
 0.781767    156
-1.237485    153
-1.356264    146
-1.059315    145
 1.019326    144
-1.118705    143
 0.900546    142
-1.296874    141
-1.178095    140
 0.841157    139
 1.494444    138
-0.940536    138
-0.762367    137
 0.187869    134
 0.722377    134
 0.306649    132
 1.256885    131
 0.128480    130
-0.821756    129
 1.375665    128
 1.435054    126
 1.138106    125
 1.672613    125
 0.544208    125
-0.584197    122
 1.613224    122
 0.662987    121
            ...
-0.524808    120
-0.346638    119
-1.415654    119
-0.643587    119
 1.316275    118
 0.484818    118
 0.425428    117
-0.227859    116
-0.406028    115
 0.959936    114
 0.009700    110
-0.109079    110
 0.603598    109
 0.069090    107
-0.702977    107
 0.366039    103
-0.049690    103
-0.168469    100
-1.475044     77
-1.534433     76
-1.593823     46
-2.068941     32
-1.831382     32
-1.771992     28
-1.950162     27
-1.890772     26
-1.712603     26
-1.653213     24
-2.009552     21
-2.128331     15
Name: last_evaluation, Length: 65, dtype: int64


 0.172520    2188
-0.685784    2109
 1.030824    1347
-1.544089     966
 1.889128     504
 2.747433      80
Name: number_project, dtype: int64


-0.916984    73
-0.834648    69
-0.937569    64
-1.349249    63
 1.223753    63
-0.896400    63
-1.184577    61
-1.061073    60
-1.019905    59
-1.143409    59
 1.162001    58
 1.182585    58
-1.040489    57
 0.770905    56
 1.450177    56
-1.081657    56
 1.347257    55
-0.567056    55
 0.914993    55
 1.409009    55
 0.585649    55
-1.102241    55
 0.873825    55
-0.958153    54
-0.999321    54
 1.306089    53
-1.328665    53
-1.205161    52
-1.246329    52
-1.266913    52
             ..
-1.822681     7
-1.760929     7
-2.028521     6
-1.658009     6
 2.129450     6
 1.820690     6
-1.925601     6
 2.252954     6
-1.616841     5
 1.800106     5
 2.026530     5
-1.678593     5
 1.861858     5
 1.964778     5
 2.108866     5
 1.985362     4
-2.090273     4
-2.152026     4
 2.088282     4
 2.191202     4
 1.882442     3
-1.699177     3
-1.740345     3
 2.047114     3
 2.005946     3
 2.232370     3
 1.923610     3
 1.903026     3
 1.944194     2
 1.841274     1
Name: average_montly_hours, Length: 215, dtype: int64


-0.265320    3151
-1.023948    1760
 0.493309    1171
 1.251937     625
 2.010566     320
 5.045079      59
 2.769194      58
 3.527822      50
Name: time_spend_company, dtype: int64


-0.136237    10
-0.297274     9
 0.016748     9
-0.347598     8
-0.246950     8
-0.957525     8
 0.596481     8
 0.507911     8
-1.610731     7
 0.821933     7
-1.629183     7
 0.115383     7
 0.110351     7
-1.278089     7
 0.091899     7
-0.226820     7
-0.976480     7
-1.115878     6
 0.480736     6
 1.357380     6
-1.142717     6
-1.216526     6
-1.135169     6
 0.306615     6
 0.985989     6
-1.068909     6
 0.684045     6
 0.300576     6
 1.188292     6
-0.093965     6
             ..
-1.424196     1
 0.761879     1
-1.234810     1
-1.433758     1
 0.218548     1
-0.285867     1
 0.728498     1
 1.539553     1
 0.091899     1
-1.659377     1
-0.143282     1
 1.227209     1
-1.230113     1
 1.135955     1
-0.909549     1
 1.111631     1
 0.662238     1
 0.488452     1
-0.375108     1
 0.285143     1
-0.401948     1
 1.369626     1
 0.936672     1
 0.298563     1
 2.105363     1
 0.435780     1
 0.460606     1
 0.882993     1
 0.296550     1
-1.003320     1
Name: satisfaction_hour, Length: 4411, dtype: int64


-1.302478    66
-0.362523     9
-0.049205     8
 0.110936     8
 0.218160     8
 0.208412     8
-0.801169     8
 0.185784     8
 0.259936     8
 0.255236     7
 0.117898     7
 0.046009     7
-0.971057     7
-0.166177     7
 0.034347     7
 0.055235     7
 0.264113     7
-0.014392     6
-0.592290     6
-0.597512     6
 0.828086     6
 0.201450     6
-0.188457     6
-0.143200     6
-0.688374     6
 0.013459     6
-0.650776     6
-0.108387     6
-0.738505     6
 0.320511     6
             ..
 0.962639     1
-0.678975     1
-1.270624     1
-0.439112     1
 0.448275     1
-0.802387     1
-0.012651     1
-0.398903     1
-0.229537     1
 0.258369     1
-0.347379     1
 0.382478     1
-1.061223     1
-0.576624     1
 0.421817     1
 3.005648     1
 0.883439     1
 0.483088     1
 0.209457     1
 1.447934     1
 0.103973     1
-0.497424     1
-0.352079     1
 1.468648     1
 2.290238     1
-0.030754     1
-0.657042     1
 0.404236     1
-1.131894     1
-0.698122     1
Name: dissatisfaction_hour, Length: 4431, dtype: int64


-1.519208    100
-1.467039     96
 0.150199     95
 0.567551     91
 0.463213     90
-0.162815     87
 0.254537     77
-0.267153     76
-1.258363     74
-1.345311     74
-1.362701     73
-0.371490     73
-1.293142     69
-1.397480     68
-1.275752     67
 0.306706     61
-0.736673     60
-1.571377     58
-1.414870     57
-1.380090     57
-1.310532     56
 1.263137     55
 0.176284     54
 0.741447     53
-0.301932     53
 0.532771     51
 0.437128     51
-0.788842     50
 1.054461     50
 1.437033     49
            ...
 1.141409      2
 2.132619      2
-0.214984      2
-0.258458      2
 2.497802      2
 2.393464      2
-0.493218      2
 3.175999      2
-1.797442      2
-1.440954      2
 2.915154      2
-1.806137      1
-1.545292      1
-1.814832      1
-1.693104      1
 0.984902      1
 3.071661      1
-1.710494      1
-0.823621      1
 2.758647      1
 1.550066      1
-1.658325      1
 1.663099      1
-1.640935      1
-0.562777      1
-1.536597      1
-1.867001      1
 2.289126      1
 2.967323      1
 1.558761      1
Name: satisfaction_project, Length: 300, dtype: int64


-0.289198    111
-0.258080    106
-0.242521    103
-0.382551     95
-0.195844     91
-0.475905     89
-0.755966     83
 3.024857     81
-0.102490     79
-0.351433     77
-0.429228     77
 0.084217     76
-0.226962     74
-1.036027     74
-0.312536     72
 3.071534     72
-0.507023     70
-0.149167     68
 0.426514     68
 0.037540     67
-1.129380     66
-0.849320     66
-0.779304     62
-0.662612     62
-0.180285     62
-1.012688     61
-0.009137     60
-0.195844     60
-0.320315     58
 0.021981     57
            ...
 1.857937      2
 0.768811      2
-0.429228      2
 0.410955      2
-0.958232      2
-0.833761      2
 1.079989      2
 1.103328      1
 0.994415      1
 0.317601      1
 0.761031      1
-0.024696      1
-0.335874      1
 2.324705      1
 1.009974      1
 0.006422      1
 3.172667      1
 0.224248      1
 0.722134      1
 0.099776      1
 0.831046      1
 0.877723      1
 2.845929      1
 3.499405      1
 1.173343      1
 3.009298      1
 0.068658      1
-0.755966      1
 0.270924      1
 2.278028      1
Name: dissatisfaction_project, Length: 340, dtype: int64


-0.147866    59
-0.353899    55
 0.418724    54
-0.250883    53
 0.573249    50
-0.456916    50
-0.559932    48
-0.044850    47
-0.405407    47
 0.470233    47
 0.367216    45
 0.392970    44
 0.264200    40
 1.088331    40
 0.547495    39
-0.199374    39
-0.611440    39
-0.302391    37
 0.521741    37
 0.315708    36
-0.508424    36
 0.161183    35
-0.096358    35
 0.676265    35
-0.662949    35
 0.727774    33
 0.212691    32
 1.139839    32
 0.599003    32
-1.023506    32
             ..
-1.919749     1
 2.736595     1
-1.821884     1
-0.860397     1
 1.783692     1
-1.830468     1
 2.968382     1
-1.030864     1
-0.780682     1
-1.089731     1
 3.277431     1
-1.878543     1
-1.238124     1
 3.895530     1
-1.414969     1
 2.341698     1
 2.813857     1
-0.396823     1
-1.924900     1
-1.598681     1
-1.353159     1
-1.651907     1
-1.672510     1
-0.927848     1
 3.148660     1
-1.631303     1
-1.577220     1
-0.876340     1
-0.929074     1
 4.204579     1
Name: project_hour_average, Length: 728, dtype: int64


0    7079
1     115
Name: promotion_last_5years, dtype: int64


0    6608
1     586
Name: division_IT, dtype: int64


0    6794
1     400
Name: division_RandD, dtype: int64


0    6821
1     373
Name: division_accounting, dtype: int64


0    6841
1     353
Name: division_hr, dtype: int64


0    6941
1     253

Name: division_management, dtype: int64


0    6787
1     407
Name: division_marketing, dtype: int64


0    6770
1     424
Name: division_product_mng, dtype: int64


0    5218
1    1976
Name: division_sales, dtype: int64


0    6124
1    1070
Name: division_support, dtype: int64


0    5842
1    1352
Name: division_technical, dtype: int64


0    6592
1     602
Name: salary_high, dtype: int64


0    3733
1    3461
Name: salary_low, dtype: int64


0    4063
1    3131
Name: salary_medium, dtype: int64


0    6095
1    1099
Name: Work_accident, dtype: int64

In [176]:
best_rbfSVC = rbfSVC_fit(x_train_concat, y_train)

Best Accuracy 0.974145120934
Best Param {'C': 10}

In [178]:
RBF_SVC_2 = SVC(kernel = 'rbf', C=best_rbfSVC.best_params_.get('C'), probability=True)
RBF_SVC_2.fit(x_train_concat, y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [179]:
def linearSVC_fit(x_train, y_train):
    linear_SVC = SVC(kernel = 'linear')

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001]}

    random_linear_SVC = RandomizedSearchCV(linear_SVC, param_distributions = hyperparam, cv = 5,
                                    n_iter = 5, n_jobs=2, random_state = 123)
    
    random_linear_SVC.fit(x_train, y_train)
    
    print ("Best Accuracy", random_linear_SVC.score(x_train, y_train))
    print ("Best Param", random_linear_SVC.best_params_)
    
    return random_linear_SVC

In [180]:
best_linear_SVC = linearSVC_fit(x_train_concat, y_train)

Best Accuracy 0.83416736169
Best Param {'C': 10}

In [183]:
Linear_SVC_2 = SVC(kernel= 'rbf',C= best_linear_SVC.best_params_.get('C'))
Linear_SVC_2.fit(x_train_concat, y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [184]:
def logreg_fit(x_train, y_train):
    logreg = LogisticRegression()

    hyperparam = {'C': [1000, 333.33, 100, 33.33, 10, 3.33, 10, 3.33, 1, 0.33, 0.1, 0.033, 0.01, 0.0033, 
                        0.001, 0.00033, 0.0001]}

    random_logreg = RandomizedSearchCV(logreg, param_distributions = hyperparam, cv = 5,
                                    n_iter = 5, n_jobs=2, random_state = 123)
    
    random_logreg.fit(x_train, y_train)
    
    print ("Best Accuracy", random_logreg.score(x_train, y_train))
    print ("Best Param", random_logreg.best_params_)
    
    return random_logreg

In [186]:
best_logreg = logreg_fit(x_train_concat, y_train)

Best Accuracy 0.821378926884
Best Param {'C': 0.33}

In [187]:
Logreg_2 = LogisticRegression(C=best_logreg.best_params_.get('C'))
Logreg_2.fit(x_train_concat, y_train)

LogisticRegression(C=0.33, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

## Test Data Preprocessing

In [188]:
# Categorical
def testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer,dummy_columns):
    data = data[categorical_columns].fillna("KOSONG")
    dummy_variables = pd.DataFrame([])
    
    for i in categorical_columns:
        label_en = label_encoder[i]
        label_bin = label_binarizer[i]
        
        encoded = label_en.transform(data[i])
        binary = label_bin.transform(encoded)
        
        if binary.shape[1] == 1:
            dummy = pd.DataFrame(binary, index = data.index)
        else:
            dummy = pd.DataFrame(binary, index = data.index)
        
        dummy_variables = pd.concat([dummy_variables, dummy], axis = 1)
    dummy_variables.columns = dummy_columns
    return dummy_variables

In [189]:
def validData(numerical_columns, categorical_columns,data, imputer, standard,label_encoder, label_binarizer, dummy_columns):
    
    data_dummy = testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer, dummy_columns)
    data_numeric_imput = transformImput(data[numerical_columns], imputer=imputer)
    data_numeric_std = transformStandardize(data_numeric_imput, standard)
    data_concat = pd.concat([data_numeric_std, data_dummy], axis=1)

    return data_concat

In [190]:
x_test_standardize = validData(numeric, categoric,x_test, imput, standard,label_encoder, label_binarizer, dummy_columns)

satisfaction_level         0
last_evaluation            0
number_project             0
average_montly_hours       0
time_spend_company         0
satisfaction_hour          0
dissatisfaction_hour       0
satisfaction_project       0
dissatisfaction_project    0
project_hour_average       0
dtype: int64
      satisfaction_level  last_evaluation  number_project  \
6816                0.74             0.86             5.0
4649                0.19             0.64             6.0
3169                0.72             0.82             5.0
6485                0.63             1.00             5.0
9388                0.51             0.41             2.0

      average_montly_hours  time_spend_company  satisfaction_hour  \
6816                 153.0                 2.0             113.22
4649                 222.0                 5.0              42.18
3169                 287.0                 3.0             206.64
6485                 241.0                 4.0             151.83
9388                 164.0                 4.0              83.64

      dissatisfaction_hour  satisfaction_project  dissatisfaction_project  \
6816                 39.78                  3.70                     1.30
4649                179.82                  1.14                     4.86
3169                 80.36                  3.60                     1.40
6485                 89.17                  3.15                     1.85
9388                 80.36                  1.02                     0.98

      project_hour_average
6816                  30.6
4649                  37.0
3169                  57.4
6485                  48.2
9388                  82.0
      satisfaction_level  last_evaluation  number_project  \
6816            0.463284         0.841157        1.030824
4649           -1.804166        -0.465418        1.889128
3169            0.380831         0.603598        1.030824
6485            0.009794         1.672613        1.030824
9388           -0.484923        -1.831382       -1.544089

      average_montly_hours  time_spend_company  satisfaction_hour  \
6816             -0.978737           -1.023948          -0.209710
4649              0.441561            1.251937          -1.401383
3169              1.779522           -0.265320           1.357380
6485              0.832657            0.493309           0.437960
9388             -0.752312            0.493309          -0.705905

      dissatisfaction_hour  satisfaction_project  dissatisfaction_project  \
6816             -0.610045              1.176189                -0.118049
4649              1.827572             -1.049687                 2.651443
3169              0.096314              1.089240                -0.040254
6485              0.249666              0.697973                 0.309822
9388              0.096314             -1.154025                -0.366992

      project_hour_average
6816             -1.353159
4649             -1.023506
3169              0.027262
6485             -0.446614
9388              1.294364

In [191]:
x_test_standardize.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,satisfaction_hour,dissatisfaction_hour,satisfaction_project,dissatisfaction_project,project_hour_average,...,division_management,division_marketing,division_product_mng,division_sales,division_support,division_technical,salary_high,salary_low,salary_medium,Work_accident
6816,0.463284,0.841157,1.030824,-0.978737,-1.023948,-0.209710,-0.610045,1.176189,-0.118049,-1.353159,...,0,0,0,1,0,0,0,1,0,0
4649,-1.804166,-0.465418,1.889128,0.441561,1.251937,-1.401383,1.827572,-1.049687,2.651443,-1.023506,...,0,0,1,0,0,0,0,0,1,0
3169,0.380831,0.603598,1.030824,1.779522,-0.265320,1.357380,0.096314,1.089240,-0.040254,0.027262,...,0,0,0,0,0,1,0,0,1,0
6485,0.009794,1.672613,1.030824,0.832657,0.493309,0.437960,0.249666,0.697973,0.309822,-0.446614,...,0,0,0,0,0,0,0,0,1,0
9388,-0.484923,-1.831382,-1.544089,-0.752312,0.493309,-0.705905,0.096314,-1.154025,-0.366992,1.294364,...,0,0,0,1,0,0,0,0,1,0

In [192]:
x_test_standardize.shape

(4797, 25)

In [193]:
RBF_SVC_2.score(x_train_concat, y_train)

0.97414512093411176

In [194]:
RBF_SVC_2.score(x_test_standardize, y_test)

0.97540129247446317

In [198]:
Linear_SVC_2.score(x_train_concat, y_train)

0.97414512093411176

In [199]:
Linear_SVC_2.score(x_test_standardize, y_test)

0.97540129247446317

In [197]:
benchmark

0.83309007506255217

In [200]:
Logreg_2.score(x_train_concat, y_train)

0.82137892688351399

In [201]:
Logreg_2.score(x_test_standardize, y_test)

0.82739212007504692