# Twitter Sentiment Analysis

source: https://www.kaggle.com/crowdflower/twitter-airline-sentiment

In [1]:
import pandas as pd
from sklearn.externals import joblib

In [2]:
data = pd.read_csv("tweet_airlines.csv")

In [3]:
data.head()

,Unnamed: 0,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,name,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,cairdin,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,jnardino,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,yvonnalynn,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,jnardino,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,jnardino,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [4]:
data.shape

(14640, 14)

In [5]:
for i in data.columns:
    print(data[i].value_counts(), '\n\n')

2047     1
10912    1
6806     1
661      1
2708     1
12947    1
8849     1
10896    1
4743     1
6790     1
645      1
2692     1
12931    1
8833     1
10880    1
4727     1
6774     1
629      1
2676     1
12915    1
8817     1
10864    1
4711     1
6758     1
613      1
2660     1
12899    1
4759     1
8865     1
4567     1
        ..
1274     1
11567    1
5432     1
7481     1
7513     1
9582     1
13676    1
3435     1
1386     1
7529     1
5480     1
11615    1
9566     1
13660    1
3419     1
1370     1
5464     1
1338     1
11599    1
9550     1
13644    1
3403     1
1354     1
7497     1
5448     1
11583    1
9534     1
13628    1
3387     1
0        1
Name: Unnamed: 0, Length: 14640, dtype: int64


570296616688750592    2
570273819287531520    2
570297548726005761    2
570275970046775297    2
570306867878072320    2
570284862122233856    2
570272172679282688    2
570307434113310720    2
570283851018317824    2
570307312675651585    2
570267562623152128    2
570284054605639683    2
570290552169734144    2
570290220589027328    2
570279118438182913    2
570306715599695874    2
570283544125288448    2
570291157340704769    2
570298679250305024    2
570307948171423745    2
570302358242115584    2
569944281512685570    2
569622568459636736    2
570300177367633921    2
570292715444965377    2
570276434763128833    2
570268326250745856    2
570271896887017472    2
570302060035497984    2
570280641771790336    2
                     ..
567818156607074304    1
568276144107200512    1
569472446954389504    1
568276647885086720    1
569578297945919488    1
568100712309256192    1
569578441508458496    1
568152035767554048    1
568188595456118785    1
568100626183417856    1
569296877902041088    1
568417260668379136    1
567907070269198337    1
569015379021795328    1
569683872046194688    1
569894969332400128    1
567819066708226048    1
567988647263252480    1
569296784922578944    1
568074028990259200    1
568663431433187328    1
569648584909434880    1
568223557806915585    1
569633036251340800    1
569701285588541441    1
569929973156327424    1
569929944291127296    1
567783687980367872    1
569296585697464320    1
570074833993670657    1
Name: tweet_id, Length: 14485, dtype: int64


negative    9178
neutral     3099
positive    2363
Name: airline_sentiment, dtype: int64


1.0000    10445
0.6667       71
0.6632       35
0.6596       30
0.6559       30
0.6701       29
0.6598       28
0.6600       26
0.6842       26
0.6771       24
0.6739       22
0.6774       22
0.6809       22
0.6630       22
0.6421       22
0.6737       22
0.6735       21
0.6522       20
0.6633       19
0.6703       19
0.6566       19
0.6563       18
0.6593       17
0.6634       17
0.6742       17
0.6768       17
0.6591       16
0.6832       16
0.6889       16
0.6721       15
          ...
0.6201        1
0.6188        1
0.7142        1
0.9240        1
0.6111        1
0.3763        1
0.3373        1
0.6273        1
0.9633        1
0.7991        1
0.6962        1
0.6187        1
0.3366        1
0.3883        1
0.6905        1
0.3528        1
0.7005        1
0.9236        1
0.6186        1
0.7282        1
0.3428        1
0.3730        1
0.7221        1
0.3627        1
0.6750        1
0.7071        1
0.3658        1
0.7135        1
0.6615        1
0.3389        1
Name: airline_sentiment_confidence, Length: 1023, dtype: int64


Customer Service Issue         2910
Late Flight                    1665
Can't Tell                     1190
Cancelled Flight                847
Lost Luggage                    724
Bad Flight                      580
Flight Booking Problems         529
Flight Attendant Complaints     481
longlines                       178
Damaged Luggage                  74
Name: negativereason, dtype: int64


1.0000    3436
0.0000    1344
0.6667      62
0.6632      33
0.6596      29
0.6733      25
0.6809      25
0.3441      24
0.6559      24
0.6701      23
0.6526      22
0.6842      21
0.6702      21
0.6600      21
0.6737      20
0.6598      20
0.6771      19
0.6838      18
0.6495      18
0.6806      18
0.3474      18
0.6593      18
0.6633      18
0.6606      17
0.6522      17
0.6630      17
0.3579      17
0.3684      17
0.6563      17
0.6804      17
          ...
0.6252       1
0.6286       1
0.6202       1
0.6377       1
0.5918       1
0.3275       1
0.6820       1
0.7048       1
0.3790       1
0.6298       1
0.3231       1
0.3588       1
0.3281       1
0.3938       1
0.6212       1
0.7918       1
0.3574       1
0.3559       1
0.3540       1
0.6225       1
0.6924       1
0.7140       1
0.3397       1
0.6387       1
0.7148       1
0.6229       1
0.3895       1
0.3978       1
0.6449       1
0.3255       1
Name: negativereason_confidence, Length: 1410, dtype: int64


United            3822
US Airways        2913
American          2759
Southwest         2420
Delta             2222
Virgin America     504
Name: airline, dtype: int64


JetBlueNews        63
kbosspotter        32
_mhertz            29
otisday            28
throthra           27
weezerandburnie    23
rossj987           23
MeeestarCoke       22
GREATNESSEOA       22
scoobydoo9749      21
jasemccarty        20
georgetietjen      19
ElmiraBudMan       19
flemmingerin       19
ThatJasonEaton     18
Aero0729           18
thomashoward88     18
chagaga2013        18
worldwideweg       17
SMHillman          17
arthurhasher       16
patrick_maness     16
heyheyman          16
Allisonjones704    15
luvthispayne       15
geekstiel          14
riricesq           14
ColtSTaylor        14
farfalla818        14
davidgoodson71     14
                   ..
Tyler_Stotts        1
fancyfrancois       1
lablakeh            1
T_Lubinski          1
brookem             1
amy_lombard         1
NicoMancinelli      1
jwcriner            1
UrbanPranaYoga      1
RaquelSnyderDC      1
HammerStahl         1
heyjdoan            1
YoungChipotle       1
Ashley_Jeffris      1
Will_Watson6        1
zinnian0            1
klorbe              1
JennRanft           1
patpohler           1
RossWGibson         1
mne90               1
Matt_Fiorello       1
particularmolly     1
ByronJ              1
N_Brennan           1
Mia_Da_Jedi         1
SassmasterJosh      1
4ensicdds           1
StullaDaggera       1
sharkb8t            1
Name: name, Length: 7701, dtype: int64


0     13873
1       640
2        66
3        22
4        17
5         5
7         3
6         3
22        2
8         1
32        1
9         1
31        1
18        1
15        1
28        1
44        1
11        1
Name: retweet_count, dtype: int64


@united thanks                                                                                                                                           6
@JetBlue thanks!                                                                                                                                         5
@SouthwestAir sent                                                                                                                                       5
@AmericanAir thanks                                                                                                                                      5
@united thank you!                                                                                                                                       4
@AmericanAir thank you!                                                                                                                                  4
@USAirways thank you                                                                                                                                     3
@USAirways YOU ARE THE BEST!!! FOLLOW ME PLEASE;)üôèüôèüôè‚úåÔ∏è‚úåÔ∏è‚úåÔ∏èüôèüôèüôè                                                                                            3
@SouthwestAir Thank you!                                                                                                                                 3
@united Thanks!                                                                                                                                          3
@AmericanAir thanks!                                                                                                                                     3
@JetBlue thank you!                                                                                                                                      3
@united thank you                                                                                                                                        3
@SouthwestAir thank you!                                                                                                                                 3
@USAirways thanks                                                                                                                                        3
@AmericanAir yes yes yes,so glad to be headed home!                                                                                                      2
@AmericanAir I don't think you should help him at all based on his behavior. The voucher and cot seem like enough lol üòÉ                                  2
@AmericanAir I'd like to apologize to the gate agent for flight AA76, I was not aware that zone 1 was after the nine other precious gems.                2
@AmericanAir worst company ever please do not fly with them I repeat please do not fly !! They will not credit you if you're delayed                     2
@AmericanAir that's 16+ extra hours of travel time. Missed vacation time and now you guys are messing with my professional life.                         2
‚Äú@AmericanAir: @Andrew_Wasila We're sorry you were uncomfortable, Andrew. What can we do for you?‚Äù SMA                                                   2
@AmericanAir Would love to DM you, but my Twitter app says you're not following me and I can't.                                                          2
@AmericanAir awesome. Thanks!                                                                                                                            2
@AmericanAir another day another grievance with this airline. No customer service                                                                        2
@AmericanAir did you know that suicide is the second leading cause of death among teens 10-24?                                                           2
@AmericanAir FYI...call stilling getting dropped.  After an hour of continuous dialing. Attempted to Cancelled Flight online but not able to. HELP!!!    2
@AmericanAir my flight 386 to Dallas from Jacksonville fl has been Cancelled Flightled. No one has notified me. What's going on?                         2
@AmericanAir @RobertDwyer AA doesnt charge any fees to change award tickets as long as the origin, destination &amp; award type remains the same         2
@AmericanAir I might look into that. My wife travels much more than I do. Could we both use the membership?                                              2
@AmericanAir thank you for the confirmation.                                                                                                             2
                                                                                                                                                        ..
@united Stopped flying @united 1 yr ago bc of aggressive policy on carryon @bdl listening to pssngrs forced to chk@preboard,#notcomingback               1
@AmericanAir Delayed: AA3186 - Missed due to delay: AA3186 - New flight now delayed: AA2401                                                              1
@AmericanAir seriously, there aren't any reps available to take phone calls? Even for platinum?                                                          1
@AmericanAir To announce DURING BOARDING that you chose to limit catering to the point that you WILL run out shows a lack of planning, IMO.              1
@united This is the 2nd time I was rebooked (w/delays), and for reasons unreLate Flightd to weather. How do I go about requesting a flight voucher?      1
@united thanks for all the help! Totally appreciate it and you made it super easy too                                                                    1
@AmericanAir I took the day off from work and drove 9 hours round trip to rescue my daughter and 3 other students from LaGuardia. Thanks!                1
@AmericanAir just Cancelled Flightled my 7 am flight tomorrow with out informing me at all today, then booked one in 2 days, and no customer service     1
@united tried other flight options as per weblink, non available for next 2 days, frustrating #notgoodenough #poorservice                                1
@united hello. I'm overseas &amp; my bag is lost. I can't call customer service but can you help me?                                                     1
@USAirways thanks :)                                                                                                                                     1
@united Why did you load us in this flying sardine can if you knew the pilots were 2 hours Late Flight?? #incompetent beyond belief                      1
@united I normally ask people to put on headphones...but not toddlers. Maybe planes should have a "kid" section (near the back) ;)                       1
@AmericanAir. All I get is an automated system that hangs up on me. I finally get a message that some will call me back in 2 hours.                      1
@AmericanAir I was flying today to MTY Mex at 9:30am but still appear Cancelled Flight, Where can i talk for another flight?                             1
@SouthwestAir now I don't get the common courtesy of my phone call answered. Either policy is bad or people should be fired. #dissaponted                1
@united Currently on UA862, 20 minutes of the worst turbulence I've ever experienced, and ZERO communication from the flight deck.                       1
@united @abigailedge Another glitch??                                                                                                                    1
@SouthwestAir, a complete horror show. Flights bumped three times today, before noon, not how to run an airline. #cantblametheweather.                   1
@USAirways I want to speak with someone immediately. I am shaking with rage. I offered to hate check my bag and Derrick bussey treated me                1
@USAirways You all work hard at making sure things flow smoothly. Keeping positive.                                                                      1
@SouthwestAir thank you. I was given this same reply 2 years ago. Can you direct me to an area I can learn more about the improvements?                  1
@SouthwestAir PLEASE HELP! I would die to see the Vegas show! It would be amazing to hear their songs for real!                                          1
@USAirways but wait! They are booked, along with all other hotels nearby. I was sent anyway, to the hotel managers disbelief.                            1
@usairways Ok thank you‚Ä¶I call from Spain to US for seating assistance!                                                                                  1
@AmericanAir Group Cancelled Flights close to a thousand #flights Monday http://t.co/v1RADYKEP2                                                          1
@United should find a way to distinguish boarding of premier members and credit card holders. Group 2 is too big!                                        1
RT @JetBlue: Our fleet's on fleek. http://t.co/NfjAuW16vZ&lt;--....üòï                                                                                     1
@united Wife and I have two new destinations and I'm stuck in DC until Monday with no bags                                                               1
@SouthwestAir Just got companion pass and trying to add companion flgt but get purchase.error.INVALID_LOYALTY_MEMBER_ACCOUNT_STATUS. Help!               1
Name: text, Length: 14427, dtype: int64


[0.0, 0.0]                      164
[40.64656067, -73.78334045]       6
[32.91792297, -97.00367737]       3
[40.64646912, -73.79133606]       3
[40.69002464, -73.91638072]       2
[39.83426941, -104.69960636]      2
[40.68996177, -73.91640136]       2
[33.75539049, -116.36196163]      2
[37.78618135, -122.45742542]      2
[32.82813261, -97.25115941]       2
[35.22643463, -80.93879965]       2
[18.22245647, -63.00369733]       2
[40.69017276, -73.91646118]       2
[33.75348859, -116.36209633]      2
[40.68994668, -73.91637642]       2
[37.99311597, -84.52114659]       2
[37.62006843, -122.38822083]      2
[39.1766101, -76.6700606]         2
[34.0213466, -118.45229268]       2
[33.79727578, -117.85043081]      1
[41.78959656, -87.74028015]       1
[41.95627333, -87.87860345]       1
[19.43706642, -99.07927123]       1
[43.74167873, -79.3442243]        1
[42.19881665, -83.3859395]        1
[34.16721627, -118.34537339]      1
[33.18882771, -96.64036423]       1
[39.24541389, -106.88172648]      1
[33.84445776, -116.55139365]      1
[-38.0271635, 145.2112317]        1
                               ...
[39.85871934, -104.67371484]      1
[39.99814659, -82.88058383]       1
[33.64079948, -84.4358346]        1
[29.99135326, -95.52122091]       1
[40.64490372, -73.77508276]       1
[39.87455718, -75.24082121]       1
[42.40805407, -88.62699707]       1
[31.93684422, -102.20753682]      1
[35.22123472, -80.93287633]       1
[40.67851205, -73.43465391]       1
[35.21905941, -80.9426995]        1
[43.19830037, -70.87348793]       1
[32.73130971, -117.20222555]      1
[19.43493094, -99.18877967]       1
[40.65951726, -74.16980326]       1
[13.07787514, -59.6049865]        1
[41.30204773, -95.9002533]        1
[27.98622757, -82.5414547]        1
[43.3230125, -73.64314219]        1
[29.65283375, -95.275749]         1
[42.3667769, -71.0170733]         1
[33.6839241, -117.8607358]        1
[35.23908248, -120.64078264]      1
[42.5696777, -71.42056878]        1
[38.69255098, -121.58854512]      1
[32.89873575, -97.04452633]       1
[40.64946781, -73.76624703]       1
[33.93939612, -118.38973148]      1
[34.10909961, -118.32361693]      1
[40.69482181, -74.17458032]       1
Name: tweet_coord, Length: 832, dtype: int64


2015-02-24 09:54:34 -0800    5
2015-02-24 11:43:05 -0800    4
2015-02-24 11:32:49 -0800    3
2015-02-24 09:14:01 -0800    3
2015-02-24 10:01:50 -0800    3
2015-02-24 11:38:47 -0800    3
2015-02-24 11:38:11 -0800    3
2015-02-23 10:58:58 -0800    3
2015-02-23 14:18:58 -0800    3
2015-02-23 06:57:24 -0800    3
2015-02-23 15:25:46 -0800    3
2015-02-24 11:40:52 -0800    2
2015-02-24 08:22:52 -0800    2
2015-02-24 10:55:32 -0800    2
2015-02-24 11:36:20 -0800    2
2015-02-24 11:04:01 -0800    2
2015-02-21 19:28:31 -0800    2
2015-02-24 11:01:29 -0800    2
2015-02-22 12:04:07 -0800    2
2015-02-23 05:32:38 -0800    2
2015-02-24 10:06:06 -0800    2
2015-02-22 18:00:30 -0800    2
2015-02-24 11:41:02 -0800    2
2015-02-24 09:18:33 -0800    2
2015-02-19 08:43:05 -0800    2
2015-02-24 10:02:11 -0800    2
2015-02-24 08:47:56 -0800    2
2015-02-23 11:50:13 -0800    2
2015-02-24 10:05:10 -0800    2
2015-02-24 09:34:40 -0800    2
                            ..
2015-02-22 10:59:25 -0800    1
2015-02-22 13:20:20 -0800    1
2015-02-21 14:28:55 -0800    1
2015-02-22 08:32:36 -0800    1
2015-02-20 08:00:33 -0800    1
2015-02-19 09:40:33 -0800    1
2015-02-23 07:22:59 -0800    1
2015-02-23 08:38:28 -0800    1
2015-02-21 23:15:02 -0800    1
2015-02-22 12:20:30 -0800    1
2015-02-20 09:05:13 -0800    1
2015-02-21 11:31:44 -0800    1
2015-02-23 04:22:39 -0800    1
2015-02-19 20:34:41 -0800    1
2015-02-20 07:23:23 -0800    1
2015-02-22 19:41:06 -0800    1
2015-02-19 18:09:56 -0800    1
2015-02-18 16:28:09 -0800    1
2015-02-21 21:11:21 -0800    1
2015-02-19 08:02:51 -0800    1
2015-02-23 20:56:39 -0800    1
2015-02-18 21:56:17 -0800    1
2015-02-21 18:07:21 -0800    1

In [6]:
categoric = ["airline"]
drop = ["tweet_id", "Unnamed: 0", "name", "user_timezone", "tweet_location",
        "negativereason_confidence", "negativereason", "airline_sentiment_confidence"]
numeric = ["retweet_count"]

In [7]:
data.columns

Index(['Unnamed: 0', 'tweet_id', 'airline_sentiment',
       'airline_sentiment_confidence', 'negativereason',
       'negativereason_confidence', 'airline', 'name', 'retweet_count', 'text',
       'tweet_coord', 'tweet_created', 'tweet_location', 'user_timezone'],
      dtype='object')

## Import Data

In [8]:
def ImportData(path, drop):
    data = pd.read_csv(path)
    data = data.drop(drop, axis=1)
    print("Data shape: ", data.shape)
    print("Data shape before duplicate: ", data.duplicated().sum())
    data = data.drop_duplicates()
    print("Data shape after duplicate: ", data.shape)
    print(data.head())
    return data

In [9]:
data_input = ImportData("tweet_airlines.csv", drop)

Data shape:  (14640, 6)
Data shape before duplicate:  137
Data shape after duplicate:  (14503, 6)
  airline_sentiment         airline  retweet_count  \
0           neutral  Virgin America              0
1          positive  Virgin America              0
2           neutral  Virgin America              0
3          negative  Virgin America              0
4          negative  Virgin America              0

                                                text tweet_coord  \
0                @VirginAmerica What @dhepburn said.         NaN
1  @VirginAmerica plus you've added commercials t...         NaN
2  @VirginAmerica I didn't today... Must mean I n...         NaN
3  @VirginAmerica it's really aggressive to blast...         NaN
4  @VirginAmerica and it's a really big bad thing...         NaN

               tweet_created
0  2015-02-24 11:35:52 -0800
1  2015-02-24 11:15:59 -0800
2  2015-02-24 11:15:48 -0800
3  2015-02-24 11:15:36 -0800
4  2015-02-24 11:14:45 -0800

In [10]:
def ExtractInputOutput(data, output):
    data_output = data[output]
    data_input = data.drop(output, axis=1)
    print(data_input.head())
    print(data_output.head())
    return data_input, data_output

In [11]:
x, y = ExtractInputOutput(data_input, 'airline_sentiment')

          airline  retweet_count  \
0  Virgin America              0
1  Virgin America              0
2  Virgin America              0
3  Virgin America              0
4  Virgin America              0

                                                text tweet_coord  \
0                @VirginAmerica What @dhepburn said.         NaN
1  @VirginAmerica plus you've added commercials t...         NaN
2  @VirginAmerica I didn't today... Must mean I n...         NaN
3  @VirginAmerica it's really aggressive to blast...         NaN
4  @VirginAmerica and it's a really big bad thing...         NaN

               tweet_created
0  2015-02-24 11:35:52 -0800
1  2015-02-24 11:15:59 -0800
2  2015-02-24 11:15:48 -0800
3  2015-02-24 11:15:36 -0800
4  2015-02-24 11:14:45 -0800
0     neutral
1    positive
2     neutral
3    negative
4    negative
Name: airline_sentiment, dtype: object

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state = 123)

In [14]:
x_train.shape

(10877, 5)

In [15]:
x_train.isnull().sum()

airline              0
retweet_count        0
text                 0
tweet_coord      10126
tweet_created        0
dtype: int64

In [16]:
joblib.dump(x_train.columns,'input_col.pkl')
joblib.dump(categoric,'categorical_col.pkl')
joblib.dump(numeric,'numeric_col.pkl')

['numeric_col.pkl']

## Categorical Preprocessing

In [17]:
from sklearn.preprocessing import LabelBinarizer, LabelEncoder

In [18]:
def CategoricalDummies(data):
    data = data.fillna("KOSONG")
    dummy_variables = pd.DataFrame([])
    label_encoder = pd.Series([])
    label_binarizer = pd.Series([])
    
    for i in list(data):
        label_en = LabelEncoder()
        label_bin = LabelBinarizer()
        
        encoded = label_en.fit_transform(data[i])
        binary = label_bin.fit_transform(encoded)
        
        if binary.shape == 1:
            dummy = pd.DataFrame(binary, columns = [i], index = data.index)
        else:
            dummy = pd.DataFrame(binary, columns =["{}_{}".format(a, b) for b in sorted(data[i].unique()) for a in [i]],
                                 index = data.index)
        
        dummy_variables = pd.concat([dummy_variables, dummy], axis=1)
        label_encoder[i]=label_en
        label_binarizer[i]=label_bin
        
        return dummy_variables, label_encoder, label_binarizer, dummy_variables.columns

In [19]:
data_train_dummy, label_encoder, label_binarizer, dummy_columns = CategoricalDummies(x_train[categoric])

In [20]:
data_train_dummy.columns

Index(['airline_American', 'airline_Delta', 'airline_Southwest',
       'airline_US Airways', 'airline_United', 'airline_Virgin America'],
      dtype='object')

In [21]:
# dump dummy_columns
joblib.dump(dummy_columns,'dummy_col.pkl')
joblib.dump(label_encoder,'label_encoder.pkl')
joblib.dump(label_binarizer,'label_binarizer.pkl')

['label_binarizer.pkl']

## Numerical Preprocessing

In [22]:
from sklearn.preprocessing import Imputer

In [23]:
def FitImputNum(data, numeric_column, missing_values, method):
    imput = Imputer(missing_values=missing_values, strategy=method)
    imput.fit(data[numeric_column])
    return data[numeric_column], imput

In [24]:
x_train_numeric, imput = FitImputNum(x_train, numeric, 'NaN', 'median')

In [25]:
def TransformImput(data, imputer):
    data_imput = pd.DataFrame(imputer.transform(data))
    data_imput.columns = data.columns
    data_imput.index = data.index
    print(data_imput.isnull().sum())
    print(data_imput.head())
    return data_imput

In [26]:
x_train_imput_num = TransformImput(x_train_numeric, imput)

retweet_count    0
dtype: int64
       retweet_count
8481             0.0
10550            0.0
8560             0.0
8079             0.0
6152             0.0

In [27]:
joblib.dump(numeric,'numerical_col.pkl')
joblib.dump(imput,'imputer.pkl')

['imputer.pkl']

## Preprocessing Time, Coordinate, and Text

In [29]:
x_train_time = x_train['tweet_created']
x_train_coordinate = x_train['tweet_coord']
x_train_text = x_train['text']

In [30]:
x_train_time.head()

8481     2015-02-18 17:03:04 -0800
10550    2015-02-21 09:48:05 -0800
8560     2015-02-18 13:46:23 -0800
8079     2015-02-20 08:18:47 -0800
6152     2015-02-18 14:45:40 -0800
Name: tweet_created, dtype: object

In [31]:
def ColumnSplit(data, splitter, columns_name):
    data = pd.DataFrame(data.str.split(splitter).tolist(),
                       columns = columns_name,
                       index = data.index)
    return data

In [32]:
def TimePreprocessing(data):
    #ColumnSplit
    data = ColumnSplit(data, ' ',['date','time','GMT'])
    #again
    hour = ColumnSplit(data["time"],':', ['hour','minute','second'])
    #again
    date = ColumnSplit(data["date"], '-', ['year','month','day'])
    
    data_return = pd.concat([hour["hour"], date["day"]], axis=1)
    
    return data_return

In [33]:
x_train_time_clean = TimePreprocessing(x_train_time)

In [34]:
x_train_time_clean.tail()

      hour day
5218    13  21
12380   05  24
1346    02  23
11646   17  17
3582    19  18

In [35]:
x_train_time_clean['hour'] = x_train_time_clean['hour'].apply(lambda x: int(x))
x_train_time_clean['day'] = x_train_time_clean['day'].apply(lambda x: int(x))

In [36]:
def CoordPreprocessing(data):
    coord = data.fillna(value = "0.0, 0.0")
    get_coord = coord.str[1:-1]
    split_coord = ColumnSplit(get_coord, ', ', ["latitude","longitude"])
    for i in list(split_coord):
        split_coord[i] = pd.to_numeric(split_coord[i])
    
    return split_coord

In [37]:
x_train_coordinate_clean = CoordPreprocessing(x_train_coordinate)

In [38]:
x_train_coordinate_clean.head()

       latitude  longitude
8481        0.0        0.0
10550       0.0        0.0
8560        0.0        0.0
8079        0.0        0.0
6152        0.0        0.0

In [39]:
x_train_coordinate_clean.describe()

           latitude     longitude
count  10877.000000  10877.000000
mean       2.085899     -4.896479
std        8.697205     21.420590
min      -38.027164   -157.918466
25%        0.000000      0.000000
50%        0.000000      0.000000
75%        0.000000      0.000000
max       53.367294    151.208213

In [40]:
import re
from nltk.stem import SnowballStemmer, WordNetLemmatizer

In [41]:
stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()

In [42]:
def TextPreprocessing(text, stemmer, lemmatizer):
    clear_text = pd.Series([])
    for i in text.index:
        string = text[i]
        #Preprocess using Regex
        string = str(string)
        string = re.sub('[^A-Za-z0-9]+', ' ', string) #removing symbols
        string = re.sub(' +',' ',string.strip()) #removing multiple whitespaces
        string = string.lower()
        
        #Stemming
        string = str(string)
        string = string.split(" ")
        string = [stemmer.stem(word) for word in string]
        string = " ".join(string)
        string = str(string)
        
        #Lemmatizing
        string = string.split(" ")
        string = [lemmatizer.lemmatize(word) for word in string]
        string = " ".join(string)
        string = str(string)
        
        #save it to clear_text[i]
        clear_text[i] = string

    return clear_text

In [43]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/gibranerlangga/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [44]:
x_train_text_clean = TextPreprocessing(x_train_text, stemmer, lemmatizer)

In [45]:
x_train_text_clean.head()

8481                  jetblu i would go anywher jetblu goe
10550    usairway i m tri to cancel flight my flight wi...
8560       jetblu is the trueblu site broken at the moment
8079     jetblu that s what we ve been told howev how w...
6152     southwestair it took age for one snapchat stor...
dtype: object

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [47]:
tfidf = TfidfVectorizer(min_df = 500, stop_words='english')

In [48]:
def FitVectorizer(text, vectorizer):
    vectorizer.fit(text)
    return vectorizer

In [49]:
def TransformText(text, vectorizer):
    #transform using vectorizer
    vectorized_text = vectorizer.transform(text)
    #make feature_word
    feature_word = pd.DataFrame(vectorized_text.toarray(), columns = vectorizer.get_feature_names(),
    index = text.index)
    return feature_word

In [52]:
vectorizer = FitVectorizer(x_train_text_clean, tfidf)

In [53]:
joblib.dump(vectorizer, 'vectorizer.pkl')

['vectorizer.pkl']

In [54]:
x_train_text_feature = TransformText(x_train_text_clean, vectorizer)

In [55]:
x_train_text_feature.head()

,americanair,bag,cancel,custom,delay,fli,flight,help,hour,http,...,need,plane,servic,southwestair,thank,time,unit,usairway,wa,wait
8481,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
10550,0.0,0.0,0.498611,0.0,0.0,0.0,0.627554,0.0,0.485454,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.349138,0.0,0.0
8560,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
8079,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
6152,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0

## Concat Text, Coordinate, Time

In [56]:
from sklearn.preprocessing import StandardScaler

In [57]:
def fitStandardize(data):
    standard = StandardScaler()
    standard.fit(data)
    return standard

In [64]:
def transformStandardize(data, standard):
    data_standard = pd.DataFrame(standard.transform(data))
    data_standard.columns = data.columns
    data_standard.index = data.index
    print(data_standard.head())
    return data_standard

In [58]:
x_train_concat = pd.concat([x_train_imput_num, x_train_coordinate_clean, x_train_text_feature, x_train_time_clean], axis=1)

In [59]:
x_train_concat.head()

,retweet_count,latitude,longitude,americanair,bag,cancel,custom,delay,fli,flight,...,servic,southwestair,thank,time,unit,usairway,wa,wait,hour,day
8481,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,17,18
10550,0.0,0.0,0.0,0.0,0.0,0.498611,0.0,0.0,0.0,0.627554,...,0.0,0.0,0.0,0.0,0.0,0.349138,0.0,0.0,9,21
8560,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,13,18
8079,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,8,20
6152,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,14,18

In [60]:
standard = fitStandardize(x_train_concat)

In [66]:
x_train_standardize = transformStandardize(x_train_concat, standard)

       retweet_count  latitude  longitude  americanair       bag    cancel  \
8481       -0.104882 -0.239847   0.228598    -0.454683 -0.219656 -0.264587
10550      -0.104882 -0.239847   0.228598    -0.454683 -0.219656  3.160662
8560       -0.104882 -0.239847   0.228598    -0.454683 -0.219656 -0.264587
8079       -0.104882 -0.239847   0.228598    -0.454683 -0.219656 -0.264587
6152       -0.104882 -0.239847   0.228598    -0.454683 -0.219656 -0.264587

         custom     delay       fli    flight    ...       servic  \
8481  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146
10550 -0.254036 -0.259219 -0.219469  2.005284    ...    -0.262146
8560  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146
8079  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146
6152  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146

       southwestair     thank      time      unit  usairway        wa  \
8481      -0.416764 -0.343903 -0.252026 -0.542242 -0.466184 -0.310905
10550     -0.416764 -0.343903 -0.252026 -0.542242  0.836675 -0.310905
8560      -0.416764 -0.343903 -0.252026 -0.542242 -0.466184 -0.310905
8079      -0.416764 -0.343903 -0.252026 -0.542242 -0.466184 -0.310905
6152       3.337552 -0.343903 -0.252026 -0.542242 -0.466184 -0.310905

           wait      hour       day
8481  -0.221934  0.875659 -1.346131
10550 -0.221934 -0.626398  0.036960
8560  -0.221934  0.124631 -1.346131
8079  -0.221934 -0.814155 -0.424070
6152  -0.221934  0.312388 -1.346131

[5 rows x 27 columns]

In [67]:
joblib.dump(standard, 'normalizer.pkl')

['normalizer.pkl']

In [68]:
data_train_dummy.head()

,airline_American,airline_Delta,airline_Southwest,airline_US Airways,airline_United,airline_Virgin America
8481,0,1,0,0,0,0
10550,0,0,0,1,0,0
8560,0,1,0,0,0,0
8079,0,1,0,0,0,0
6152,0,0,1,0,0,0

In [69]:
x_train_standardize = pd.concat([data_train_dummy, x_train_standardize], axis=1)

In [70]:
x_train_standardize.isnull().sum().any()

False

In [71]:
x_train_standardize.head()

,airline_American,airline_Delta,airline_Southwest,airline_US Airways,airline_United,airline_Virgin America,retweet_count,latitude,longitude,americanair,...,servic,southwestair,thank,time,unit,usairway,wa,wait,hour,day
8481,0,1,0,0,0,0,-0.104882,-0.239847,0.228598,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,0.875659,-1.346131
10550,0,0,0,1,0,0,-0.104882,-0.239847,0.228598,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,0.836675,-0.310905,-0.221934,-0.626398,0.036960
8560,0,1,0,0,0,0,-0.104882,-0.239847,0.228598,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,0.124631,-1.346131
8079,0,1,0,0,0,0,-0.104882,-0.239847,0.228598,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,-0.814155,-0.424070
6152,0,0,1,0,0,0,-0.104882,-0.239847,0.228598,-0.454683,...,-0.262146,3.337552,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,0.312388,-1.346131

## ML Training

In [72]:
y_train.value_counts(normalize = True)

negative    0.627930
neutral     0.210352
positive    0.161717
Name: airline_sentiment, dtype: float64

In [73]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV

In [74]:
def DT_fit(x_train, y_train, scoring = 'accuracy'):
    decTree = DecisionTreeClassifier(random_state = 123)
    
    hyperparam = {'min_samples_leaf': [3,5,7,9,13,17,21,27,33,41,50,60,80,100],
                 'max_features': ['sqrt','log2', 0.25, 0.5, 0.75]}
    
    random_decTree = RandomizedSearchCV(decTree, param_distributions = hyperparam, cv = 5, 
                                       n_iter = 15, scoring = scoring, n_jobs=-1, random_state=123)
    
    random_decTree.fit(x_train, y_train)
    
    print("Best Accuracy: ", random_decTree.best_score_)
    print("Best Params: ", random_decTree.best_params_)
    
    return random_decTree

In [75]:
best_decTree = DT_fit(x_train_standardize, y_train)

Best Accuracy:  0.689252551255
Best Params:  {'min_samples_leaf': 33, 'max_features': 0.75}

In [76]:
decTree = DecisionTreeClassifier(min_samples_leaf=best_decTree.best_params_.get('min_samples_leaf'),
                                max_features = best_decTree.best_params_.get('max_features'),
                                random_state = 123)
decTree.fit(x_train_standardize, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=0.75, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=33, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best')

## Bagging

In [77]:
def bagging_fit(x_train, y_train, scoring='accuracy'):
    decTree = DecisionTreeClassifier(random_state = 123)
    
    bagging = BaggingClassifier(base_estimator=decTree, random_state=123)
    
    hyperparam = {'base_estimator__min_samples_leaf': [3,5,7,9,13,17,21,27,33,41,50,60,80,100],
                 'n_estimators': [100,200,300,500,1000]}
    
    random_bagging = RandomizedSearchCV(bagging, param_distributions=hyperparam, cv = 5, n_iter = 10, scoring = scoring, n_jobs=-1, random_state=123)
    
    random_bagging.fit(x_train, y_train)
    
    print("Best Accuracy:", random_bagging.best_score_)
    print("Best Params:", random_bagging.best_params_)
    return random_bagging

In [78]:
best_bagging = bagging_fit(x_train_standardize, y_train)

Best Accuracy: 0.69191872759
Best Params: {'n_estimators': 500, 'base_estimator__min_samples_leaf': 13}

In [79]:
decTree_bagging = DecisionTreeClassifier(min_samples_leaf=best_bagging.best_params_.get('base_estimator__min_samples_leaf'),
                                        random_state = 123)
bagging = BaggingClassifier(base_estimator = decTree_bagging, n_estimators=best_bagging.best_params_.get('n_estimators'),
                           n_jobs=-1, random_state = 123)
bagging.fit(x_train_standardize, y_train)

BaggingClassifier(base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=13, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best'),
         bootstrap=True, bootstrap_features=False, max_features=1.0,
         max_samples=1.0, n_estimators=500, n_jobs=-1, oob_score=False,
         random_state=123, verbose=0, warm_start=False)

## Random Forest

In [80]:
def randomforest_fit(x_train, y_train, scoring='accuracy'):
    randomforest = RandomForestClassifier(random_state = 123)
    
    hyperparam = {'min_samples_leaf': [3, 5, 7, 9, 13, 17, 21, 27, 33, 41, 50, 60, 80, 100],
                 'max_features': ['sqrt','log2', 0.25, 0.5, 0.75],
                 'n_estimators': [100, 200,300, 500, 1000]}
    
    random_randomforest = RandomizedSearchCV(randomforest, param_distributions=hyperparam, cv = 5, n_iter = 10, scoring = scoring, 
                                            n_jobs = -1, random_state = 123)
    
    random_randomforest.fit(x_train, y_train)
    
    print('Best Accuracy: ', random_randomforest.best_score_)
    print('Best Params: ', random_randomforest.best_params_)
    
    return random_randomforest

In [81]:
best_randomforest = randomforest_fit(x_train_standardize, y_train)

Best Accuracy:  0.695688149306
Best Params:  {'n_estimators': 300, 'min_samples_leaf': 9, 'max_features': 0.25}

In [82]:
randomforest = RandomForestClassifier(random_state=123, n_jobs=-1, min_samples_leaf = best_randomforest.best_params_.get('min_samples_leaf'),
                                     max_features = best_randomforest.best_params_.get('max_features'),
                                     n_estimators = best_randomforest.best_params_.get('n_estimators'))
randomforest.fit(x_train_standardize, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=0.25, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=9, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=300, n_jobs=-1,
            oob_score=False, random_state=123, verbose=0, warm_start=False)

## Adaptive Boosting

In [83]:
def adaboost_fit(x_train, y_train, scoring='accuracy'):
    decTree = DecisionTreeClassifier(random_state = 123)
    adaboost = AdaBoostClassifier(base_estimator=decTree, random_state=123)
    
    hyperparam = {'base_estimator__min_samples_leaf': [3, 5, 7, 9, 13, 17, 21, 27, 33, 41, 50, 60, 80, 100],
                  'learning_rate': [1., .1, .01, .001],
                  'n_estimators': [100, 200, 300]}
    
    random_adaboost = RandomizedSearchCV(adaboost, param_distributions=hyperparam, cv = 5, n_iter = 1, 
                                        scoring = scoring, n_jobs = -1, random_state = 123)
    
    random_adaboost.fit(x_train, y_train)
    
    print('Best Accuracy: ', random_adaboost.best_score_)
    print('Best Params: ', random_adaboost.best_params_)
    return random_adaboost

In [84]:
best_adaboost = adaboost_fit(x_train_standardize, y_train)

Best Accuracy:  0.601820354877
Best Params:  {'n_estimators': 200, 'learning_rate': 1.0, 'base_estimator__min_samples_leaf': 41}

In [85]:
decTree_adaboost = DecisionTreeClassifier(min_samples_leaf = best_adaboost.best_params_.get('base_estimator__min_samples_leaf'),
                                         random_state=123)
adaBoost = AdaBoostClassifier(base_estimator=decTree_adaboost, 
                             n_estimators = best_adaboost.best_params_.get('n_estimators'),
                             learning_rate = best_adaboost.best_params_.get('learning_rate'),
                             random_state = 123)
adaBoost.fit(x_train_standardize, y_train)

AdaBoostClassifier(algorithm='SAMME.R',
          base_estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=41, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best'),
          learning_rate=1.0, n_estimators=200, random_state=123)

In [86]:
# dump best classifier
joblib.dump(decTree,'decision_tree.pkl')
joblib.dump(bagging,'bagging.pkl')
joblib.dump(randomforest,'random_forest.pkl')
joblib.dump(adaBoost,'adaptive_boosting.pkl')

['adaptive_boosting.pkl']

## Test Data Preprocessing

In [87]:
def testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer, dummy_columns):
    data = data[categorical_columns].fillna("KOSONG")
    dummy_variables = pd.DataFrame()
    
    for i in categorical_columns:
        label_en = label_encoder[i]
        label_bin = label_binarizer[i]
        
        encoded = label_en.transform(data[i])
        binary = label_bin.transform(encoded)
        
        if binary.shape[1] ==1:
            dummy = pd.DataFrame(binary, index=data.index)
        else:
            dummy = pd.DataFrame(binary, index=data.index)
            
        dummy_variables = pd.concat([dummy_variables, dummy], axis=1)
    dummy_variables.columns = dummy_columns
    return dummy_variables

In [88]:
def ValidData(data, numerical_columns, categorical_columns, imputer,
             label_encoder, label_binarizer, dummy_columns, stemmer,
             lemmatizer, vectorizer, standardizer):
    data_numeric_imput = TransformImput(data[numerical_columns], imputer=imputer)
    data_dummy = testCategoricalDummies(data, categorical_columns, label_encoder, label_binarizer, dummy_columns)
    data_time = TimePreprocessing(data["tweet_created"])
    data_coord = CoordPreprocessing(data["tweet_coord"])
    data_text = TextPreprocessing(data["text"], stemmer, lemmatizer)
    text_feature = TransformText(data_text, vectorizer)
    data_num = pd.concat([data_numeric_imput, data_time, data_coord, text_feature], axis=1)
    data_standard = transformStandardize(data_num, standardizer)
    data_valid = pd.concat([data_dummy, data_standard], axis=1)
    return data_valid

In [89]:
# load necessary object
# object = joblib.load("filename.pkl")
numerical_columns = joblib.load('numerical_col.pkl')
categorical_columns = joblib.load('categorical_col.pkl')
dummy_columns = joblib.load('dummy_col.pkl')

imputer = joblib.load('imputer.pkl')
label_binarizer = joblib.load('label_binarizer.pkl')
label_encoder = joblib.load('label_encoder.pkl')

stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()
vectorizer = joblib.load('vectorizer.pkl')

standardizer = joblib.load('normalizer.pkl')

In [90]:
# preprocess test data using validData()
x_test_clean = ValidData(x_test, numerical_columns, categorical_columns, imputer, 
                         label_encoder, label_binarizer, dummy_columns, stemmer, 
                         lemmatizer, vectorizer, standardizer)

retweet_count    0
dtype: int64
       retweet_count
8168             0.0
13037            0.0
8351             0.0
8884             0.0
13298            0.0
       retweet_count      hour       day  latitude  longitude  americanair  \
8168       -0.104882  2.174833  1.115636 -0.454683  -0.219656    -0.264587
13037      -0.104882  1.139970  1.302381 -0.454683  -0.219656     1.669655
8351       -0.104882  0.680031  1.115636 -0.454683  -0.219656    -0.264587
8884       -0.104882  1.024986  1.022263 -0.454683  -0.219656    -0.264587
13298      -0.104882  0.680031  1.302381 -0.454683  -0.219656     3.504306

            bag    cancel    custom     delay    ...         need     plane  \
8168  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146 -0.416764
13037 -0.254036  2.257301 -0.219469 -0.566082    ...    -0.262146 -0.416764
8351  -0.254036 -0.259219 -0.219469  2.678000    ...    -0.262146 -0.416764
8884  -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146 -0.416764
13298 -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146 -0.416764

         servic  southwestair     thank      time      unit  usairway  \
8168  -0.343903     -0.252026 -0.542242 -0.466184 -0.310905 -0.221934
13037 -0.343903     -0.252026 -0.542242 -0.466184 -0.310905 -0.221934
8351  -0.343903     -0.252026 -0.542242 -0.466184 -0.310905 -0.221934
8884  -0.343903     -0.252026  1.935850 -0.466184 -0.310905 -0.221934
13298 -0.343903     -0.252026 -0.542242 -0.466184 -0.310905 -0.221934

             wa      wait
8168  -2.316212 -9.644676
13037 -2.180931 -9.644676
8351  -2.316212 -9.644676
8884  -2.316212 -9.644676
13298 -2.316212 -9.259227

[5 rows x 27 columns]

In [91]:
x_test_clean.head()

,airline_American,airline_Delta,airline_Southwest,airline_US Airways,airline_United,airline_Virgin America,retweet_count,hour,day,latitude,...,need,plane,servic,southwestair,thank,time,unit,usairway,wa,wait
8168,0,1,0,0,0,0,-0.104882,2.174833,1.115636,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,-2.316212,-9.644676
13037,1,0,0,0,0,0,-0.104882,1.139970,1.302381,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,-2.180931,-9.644676
8351,0,1,0,0,0,0,-0.104882,0.680031,1.115636,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,-2.316212,-9.644676
8884,0,1,0,0,0,0,-0.104882,1.024986,1.022263,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,1.935850,-0.466184,-0.310905,-0.221934,-2.316212,-9.644676
13298,1,0,0,0,0,0,-0.104882,0.680031,1.302381,-0.454683,...,-0.262146,-0.416764,-0.343903,-0.252026,-0.542242,-0.466184,-0.310905,-0.221934,-2.316212,-9.259227

## Predict Test Data

In [92]:
clf = joblib.load('decision_tree.pkl')

In [93]:
clf.score(x_test_clean, y_test)

0.5730832873690016

## Predict a single tweet

In [94]:
def predictData(classifier, input_columns, numerical_columns, categorical_columns, imputer, label_encoder, label_binarizer, dummy_columns, stemmer, lemmatizer, vectorizer, standardizer):
    raw_data = pd.Series([])
    for i in range(0,len(input_columns)):
        message = "Masukkan nilai untuk kolom : "+str(input_columns[i])+" "
        raw_data[i] = input(message)
    data = pd.DataFrame(raw_data)
    data = data.transpose()
    data.columns = input_columns
    for i in numerical_columns :
        data[i] = pd.to_numeric(data[i])
    
    # preprocess the data using validData()
    data_clean = ValidData(data, numerical_columns, categorical_columns, imputer, label_encoder, label_binarizer, dummy_columns, stemmer, lemmatizer, vectorizer, standardizer)
    
    result = classifier.predict(data_clean)
    print(result)
    print(classifier.predict_proba(data_clean))
    
    return result

In [95]:
# load necessary object
# object = joblib.load("filename.pkl")
classifier = joblib.load('decision_tree.pkl')
input_columns = joblib.load('input_col.pkl')
numerical_columns = joblib.load('numerical_col.pkl')
categorical_columns = joblib.load('categorical_col.pkl')
dummy_columns = joblib.load('dummy_col.pkl')

imputer = joblib.load('imputer.pkl')
label_binarizer = joblib.load('label_binarizer.pkl')
label_encoder = joblib.load('label_encoder.pkl')

stemmer = SnowballStemmer("english")
lemmatizer = WordNetLemmatizer()
vectorizer = joblib.load('vectorizer.pkl')

standardizer = joblib.load('normalizer.pkl')

For instance, say we wanna predict this tweet sentiment :<br>
<table>
<tr> <td>airline </td><td>  US Airways</td></tr>
<tr> <td>retweet_count </td><td>  0</td></tr>
<tr> <td>text </td><td>@USAirways @AmericanAir 2 trips in a row with missing luggage. Just like last time. I pay for baggage to be transported.</td></tr>
<tr> <td>tweet_coord </td><td>  [0.0, 0.0]</td></tr>
<tr> <td>tweet_created </td><td>  2015-02-18 19:17:59 -0800</td></tr>
</table>

In [109]:
pd.options.display.max_colwidth = 200

In [115]:
x_test.tail()

,airline,retweet_count,text,tweet_coord,tweet_created
4532,Southwest,0,@SouthwestAir here is my conf #F8NEQM. My flight was delayed for 3 hours while my friend waited for me on her bday. Please follow up.,NaN,2015-02-23 19:15:22 -0800
5387,Southwest,0,@SouthwestAir - STL-BOS flight today was Cancelled Flightled. Online resched form gives an error. On hold for past 90 min. HELP! #terribleservice,NaN,2015-02-21 07:14:07 -0800
732,United,0,@united I would like to know what's going on before his current flight lands.,NaN,2015-02-23 22:57:20 -0800
9626,US Airways,0,@USAirways flight 435 is delayed so will miss connecting flight 457 can you please help with alternate? Thank you.,NaN,2015-02-23 00:33:04 -0800
11944,American,0,@AmericanAir - Please find my bag!! In Singapore for three days already without my bag. Last known destination LAX Tag: 580815 Please help.,NaN,2015-02-24 10:28:08 -0800

In [114]:
# call predictData()
predictData(classifier, input_columns, numerical_columns, categorical_columns, 
            imputer, label_encoder, label_binarizer, dummy_columns, stemmer, 
            lemmatizer, vectorizer, standardizer)

Masukkan nilai untuk kolom : airline US Airways
Masukkan nilai untuk kolom : retweet_count 0
Masukkan nilai untuk kolom : text @USAirways @AmericanAir 2 trips in a row with missing luggage. Just like last time. I pay for baggage to be transported.
Masukkan nilai untuk kolom : tweet_coord 0.0, 0.0
Masukkan nilai untuk kolom : tweet_created 2015-02-18 19:17:59 -0800
retweet_count    0
dtype: int64
   retweet_count
0            0.0
   retweet_count      hour      day  latitude  longitude  americanair  \
0      -0.104882  1.944864  1.06895 -0.454683  -0.219656     2.540681

        bag    cancel    custom     delay    ...         need     plane  \
0 -0.254036 -0.259219 -0.219469 -0.566082    ...    -0.262146 -0.416764

     servic  southwestair     thank      time      unit  usairway        wa  \
0 -0.343903     -0.252026 -0.542242  1.716009 -0.310905  2.602809 -2.316212

       wait
0 -9.644676

[1 rows x 27 columns]
['negative']
[[ 0.87804878  0.09756098  0.02439024]]

array(['negative'], dtype=object)